<div class="gallery-with-slider">
    <div class="gallery-with-slider__preview">
        <img src="%=static=%img/assets/service-detiled/06.jpg" alt="" class="gallery-with-slider__preview-image">
    </div>
    <div class="gallery-with-slider__slider js-horizontal-slider custom-scroll custom-scroll_horizontal">
        <div class="gallery-with-slider__list">
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/02.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/03.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/04.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/05.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/06.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/01.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/02.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
            <a href="javascript:void(0)" class="gallery-with-slider__slider-item"><div class="gallery-with-slider__image-wrap"><img src="%=static=%img/assets/service-detiled/03.jpg" alt="" class="gallery-with-slider__slider-image"></div></a>
        </div>
    </div>
</div>
