<div class="contacts-info">
    <div class="contacts-info__content">
        <h3 class="title title_size_big contacts-info__title">Сочи</h3>
        <div class="contacts-info__list">
            <div class="contacts-info__item">
                <h4 class="contacts-info__caption">Центральный офис</h4>
                <div class="contacts-info__adress">
                    <p class="contacts-info__text">г. Сочи, ул. Дмитриевой, 2а</p>
                    <p class="contacts-info__text">+7 (800) 200-20-20 – <span class="contacts-info__mark">Бесплатно!</span></p>
                    <p class="contacts-info__text">+7 (988) 123-45-45</p>
                </div>
            </div>
            <div class="contacts-info__item">
                <h4 class="contacts-info__caption">Морпорт г.Сочи</h4>
                <div class="contacts-info__adress">
                    <p class="contacts-info__text">г. Сочи, ул. Войкова, 1</p>
                    <p class="contacts-info__text">+7 (945) 111-20-20</p>
                </div>
            </div>
            <div class="contacts-info__item">
                <h4 class="contacts-info__caption">Адлерский яхтклуб</h4>
                <div class="contacts-info__adress">
                    <p class="contacts-info__text">Адлер, ул. Голубая, 1Ж</p>
                    <p class="contacts-info__text">+7 (945) 111-20-20</p>
                </div>
            </div>
            <div class="contacts-info__item">
                <h4 class="contacts-info__caption">Гавань Лоо</h4>
                <div class="contacts-info__adress">
                    <p class="contacts-info__text">Горное Лоо</p>
                    <p class="contacts-info__text">ул. Леонардо Да Винчи, 27</p>
                    <p class="contacts-info__text">+7 (945) 111-20-20</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts-info__footer">
        <div class="contacts-info__footer-item">
            <p class="contacts-info__footer-text">
                Наш e-mail:
                <a href="email:" class="contacts-info__footer-link">good-boat@yandex.ru</a>
            </p>
        </div>
        <div class="contacts-info__footer-item">
            <p class="contacts-info__footer-text">
                Реквизиты:
                <a href="javascript:;" class="contacts-info__footer-link">скачать</a>
            </p>
        </div>
    </div>
</div>
