<div class="about-us">
    <div class="container">
        <div class="about-us__content">
            <div class="about-us__our-team">
                <h2>Наша команда</h2>
                <div class="about-us__staff">
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                    {{> stuff-member/stuff-member}}
                </div>
            </div>
            <h2 class="about-us__title-tablet">GoodBoat – это</h2>
            <div class="about-us__goodboat-info">
                <h2 class="about-us__title-desctop">GoodBoat – это</h2>
                <div class="about-us__goodboat-is about-us__text-hidden">
                    <div class="about-us__goodboat-info-wrap">
                        <div class="about-us__goodboat-info-text">
                            <p>Мы сделали удобный сервис по просмотру и описанию судов, бронированию и удобному способу оплаты через платежные системы. В основу сайта GoodBoat был заложен функционал по удобству поиска друг друга, а именно связать клиентов и судовладельцев. Дать достоверную оперативную информацию о судне и взять на себя ответственность разместить клиентов на выбранной им судне.</p>
                            <p>Миссия команды "Good-boat" заключается в географическом расширении представительств и предоставлении качественных услуг по индивидуальной аренде, групповому прокату катеров, яхт и гидроциклов, а также предоставлению комплексного активного отдыха на воде по всей России.</p>
                            <p>Кроме основных услуг, наша компания может также организовать трансфер от отеля к причалу, и обратно. При желании мы сможем прокатить вас на банане или ватрушке (отличное развлечение для любителей острых ощущений)</p>
                            <p>Если вы хотите воспользоваться услугами компании GoodBoat – всю интересующую информацию вы сможете узнать по телефону, или на нашем сайте. Там же можно посмотреть все суда, которые можно у нас арендовать, а также стоимость этой аренды (взимается за каждый час, в течение которого судно будет на плаву). Цена зависит от размеров и возможностей судна, а также количества человек, которые на нем будут путешествовать. Мы гарантируем, что любое арендуемое судно будет в полностью исправном состоянии, и у вас не возникнет проблем с техническими неполадками во время плавания. Мы гарантируем, что любое арендуемое судно будет в полностью исправном состоянии, и у вас не возникнет проблем с техническими неполадками.</p>
                        </div>
                        <div class="about-us__preview-wrapper">
                            <div class="about-us__preview">
                                <div class="about-us__image">
                                    <img src="%=static=%img/assets/about-us/about-us-image-1.jpg" alt="" class="about-us__image-content">
                                </div>
                                <p class="about-us__subtitle">описание фотографии</p>
                            </div>
                            <div class="about-us__preview">
                                <div class="about-us__image">
                                    <img src="%=static=%img/assets/about-us/about-us-image-2.jpg" alt="" class="about-us__image-content">
                                </div>
                                <p class="about-us__subtitle">описание фотографии</p>
                            </div>
                        </div>
                        <p>Вот лишь несколько причин, по которым стоит воспользоваться услугами нашей компании:</p>
                            <ul>
                                <li>большой ассортимент. У нас вы сможете взять в аренду и маленькие катера, и большие парусные яхты. Все зависит от целей, а также количества человек, которые будут на борту;</li>
                                <li>забота о клиентах. На любом нашем судне все всегда готово к приему путешественников. Имеется все необходимое оборудование для рыбалки и дайвинга. Если вам вдруг понадобиться зарядить телефон или ноутбук – зарядные устройства также есть на борту. Вы сможете абсолютно бесплатно воспользоваться нашим фотоаппаратом (оборудован в том числе для подводной съемки). Кроме того, на всех судах имеется бесплатный Wi-Fi;</li>
                                <li>опытная команда. Капитан судна всегда сможет подсказать вам лучшие места для рыбалки и дайвинга. О них знают далеко не все, однако наши сотрудники имеют богатый опыт исследования прибрежной зоны Сочи, а потому гарантированно отвезут вас на самые примечательные точки.</li>
                            </ul>

                        <p>Морская прогулка сделает ваш отдых на черноморском побережье более насыщенным и запоминающимся. Подобного рода транспорт зачастую используют для рыбной ловли (в акватории города Сочи улов в теплое время года может стать великолепным), купания в отрытом море или дайвинга. Очень часто парусная яхта используется для романтической прогулки, а большие катера – для масштабных мероприятий     (празднование юбилея, свадьбы и так далее).</p>
                    </div>
                </div>
                <div class="wrap-button about-us__button">

                    <button class=" link link_color_deep-sky-blue link_hover_yale-blue js-show-text about-us__button-text">Читать полное описание</button>

                    {{Icon iconName='mini_arrow' className='mini-arrow mini-arrow_deep-sky-blue' iconWidth='7' iconHeight='4'}}
                </div>
                <div class="about-us__staff-mobile">
                    <div class="about-us__our-team">
                        <h2>Наша команда</h2>
                        <div class="about-us__staff">
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                            {{> stuff-member/stuff-member}}
                        </div>
                    </div>
                </div>
                <div class="about-us__booking-order about-us__text-hidden">
                    <h2>Порядок бронирования яхт и катеров</h2>
                    <p>
                        Бронирование судна на сайте Good Boat проходит в предварительном порядке! Бронирование бывает двух типов: Групповая и Индивидуальная. Групповая аренда – это групповая аренда судна, которая собирается из незнакомых людей в группу для совместного отдыха на 1 час . Преимущество данной аренды является низкая цена. Индивидуальная аренда – это аренда судна своей компанией на любое свободное время. Не откладывайте бронирование на последние дни, так как понравившееся вам судно может оказаться занято. Для бронирования определитесь индивидуальная или групповая аренда вас интересует. Рекомендуемое время прибытия на место посадки– за 15-20 минут. Неприбытие пассажиров к отправлению судна на по любым причинам рассматривается как опоздание на зарегистрированный вами рейс и считаются использованными и обмену, возврату денежных средств не подлежат.
                        Каждый ребенок возрастом до 16 -и лет должен обязательно находиться в сопровождении одного взрослого пассажира. </p>
                    <h3>Индивидуальная аренда</h3>
                    <p>
                        1 шаг - выбираете судно<br>
                        2 шаг - выбираете индивидуальная Аренда <br>
                        3 шаг - далее вы кликаете на "забронировать яхту" <br>
                        4 шаг - после вам нужно зарегистрироваться в простой форме, указав ваше имя, телефон, электронную почту (по желанию)
                        Вы можете не регистрироваться и посмотреть форму бронирования, и если вам захочется в дальнейшем забронировать система попросит вас зарегистрироваться. После регистрации вам необходимо выбрать свободную дату, выбрать время отправления и указать кол-во часов аренды.
                        Количество пассажиров не должно превышать норму. Внимательно смотрите на место отправления! Если у вас есть промо-код то укажите его для скидки. Обязательно поставьте галочку, что вы со всеми условиями согласны
                        После этого система попросит вас подождать не более 3 минут для подтверждении брони с капитаном судна и даст вам возможность перейти к системе оплаты брони( все уведомления будут приходить вам на указанный вами телефон и электронную почту). Если у менеджера возникнут дополнительные вопросы, то он с вами свяжется в течении 3 минут.После подтверждения брони система даст вам возможность оплатить и распечатать квитанцию об оплате
                        Когда платеж пройдет к вам придет уведомления на почту и телефон, что данное судно вас ожидает
                        Вы можете не переживать, если у вас нет возможности распечатать информацию о брони достаточно показать при посадке на телефоне бронь или устно сказать свои данные при посадке.
                    </p>
                    <h3>Групповая аренда</h3>
                    <p>
                        1 шаг - выбираете судно<br>
                        2 шаг - выбираете групповая аренда <br>
                        3 шаг - далее вы кликаете на "забронировать яхту" <br>
                        4 шаг - после вам нужно зарегистрироваться в простой форме, указав ваше имя, телефон, электронную почту (по желанию)
                        Вы можете не регистрироваться и посмотреть форму бронирования, и если вам захочется в дальнейшем забронировать система попросит вас зарегистрироваться.После регистрации вам необходимо выбрать свободную дату, выбрать время отправления, согласно расписанию судна, обязательно указать количество человек в вашей группе.
                        Групповая аренда бронируется только на час. Внимательно смотрите на место отправления! Если у вас есть промо-код то укажите его для скидки. Обязательно поставьте галочку, что вы со всеми условиями согласны.
                        После этого система попросит вас подождать не более 3 минут для подтверждении брони с капитаном судна и даст вам возможность перейти к системе оплаты брони( все уведомления будут приходить вам на указанный вами телефон и электронную почту). Если у менеджера возникнут дополнительные вопросы, то он с вами свяжется в течении 3 минут.После подтверждение брони система даст вам возможность оплатить и распечатать квитанцию об оплате
                        Когда платеж пройдет к вам придет уведомления на почту и телефон, что данное судно вас ожидает
                        Вы можете не переживать, если у вас нет возможности распечатать информацию о брони достаточно показать при посадке на телефоне бронь или устно сказать свои данные при посадке. Если данное судно не набирает необходимое количество пассажиров, то вам могут предложить:<br>
                        - Пересесть на другое судно<br>
                        - Предложить другое время отправления<br>
                        - Арендовать его по минимальному тарифу<br>
                        - Вернуть деньги
                    </p>
                </div>
                <div class="wrap-button about-us__button">

                    <button class=" link link_color_deep-sky-blue link_hover_yale-blue js-show-text about-us__button-text">Читать полное описание</button>

                    {{Icon iconName='mini_arrow' className='mini-arrow mini-arrow_deep-sky-blue' iconWidth='7' iconHeight='4'}}
                </div>
                <h3>Также вас может заинтересовать</h3>
                <div class="about-us__list-deep-sky-blue">
                    <ul>
                        <a href="javascript:void(0)"><li> Контактная информа</li></a>
                        <a href="javascript:void(0)"><li> Правила поведения на борту</li></a>
                        <a href="javascript:void(0)"><li> Условия возврата денег</li></a>
                    </ul>
                </div>

            </div>
            <div class="about-us__tablet-right">
                <div class="about-us__preview-wrapper">
                    <div class="about-us__preview">
                        <div class="about-us__image">
                            <img src="%=static=%img/assets/about-us/about-us-image-1.jpg" alt="" class="about-us__image-content">
                        </div>
                        <p class="about-us__subtitle">описание фотографии</p>
                    </div>
                    <div class="about-us__preview">
                        <div class="about-us__image">
                            <img src="%=static=%img/assets/about-us/about-us-image-2.jpg" alt="" class="about-us__image-content">
                        </div>
                        <p class="about-us__subtitle">описание фотографии</p>
                    </div>
                </div>
                <div class="about-us__our-team">
                    <h2>Наша команда</h2>
                    <div class="about-us__staff">
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                        {{> stuff-member/stuff-member}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
