<div class="gallery">
    <h2 class="title title_size_big title_color_white gallery__title">Посмотрите как это было</h2>
    <div class="gallery__slider">
        <div class="my-flipster">
            <ul class="gallery__list">
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="https://www.youtube.com/watch?v=3Q19yzByS44" data-fancybox class="gallery__item-link gallery__item-link_video">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="https://www.youtube.com/watch?v=3Q19yzByS44" data-fancybox class="gallery__item-link gallery__item-link_video">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
                <li class="gallery__item">
                    <a href="%=static=%img/assets/gallery/gallery-1.jpg" data-fancybox class="gallery__item-link">
                        <img src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
