.gallery {
    margin-top: rem(-299);
    margin-bottom: rem(106);

    @include below($tablet) {
        margin-top: rem(-150);
    }
    @include below($mobile) {
        margin-bottom: rem(80);
    }

    .flipster__button--prev,
    .flipster__button--next {
        position: relative;
        left: calc(50% - 50px);

        display: inline-flex;
        width: rem(50);
        height: rem(50);
        margin: 0;
        overflow: hidden;

        white-space: nowrap;
        text-indent: rem(-9999);

        border: solid rem(1) #999999;
        cursor: pointer;
        outline: none;

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 50%;
            left: 50%;

            border-radius: rem(3);
            transform: translate(-50%,-50%);
        }
    }

    .flipster__item--current {
        img {
        }
    }

    .flipster__button svg {
        display: none;
    }

    .flipster__button--prev {
        position: absolute;
        top: 50%;
        left: 0;

        width: rem(60);
        height: rem(60);

        border: none;
        border-radius: 0 50% 50% 0;
        opacity: 1;
        background-color: #f5f6f6;
        transform: translateY(-50%);

        transition: background-color .3s;

        &:hover {
            background-color: #e6f5fb;
            &::before {
                background-image: url('%=static=%general/blue_arrow.svg');
            }
        }

        &::before {
            content: '';

            position: absolute;

            width: rem(10);
            height: rem(16);

            background-image: url('%=static=%general/gray_arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(180deg) translate(50%, 50%);
        }
    }

    .flipster__button--next {
        position: absolute;
        top: 50%;
        right: 0;
        left: auto;

        width: rem(60);
        height: rem(60);

        border: none;
        border-radius: 50% 0 0 50%;
        opacity: 1;
        background-color: #f5f6f6;
        transform: translateY(-50%);

        &:hover {
            background-color: #e6f5fb;
            &::before {
                background-image: url('%=static=%general/blue_arrow.svg');
            }
        }

        &::before {
            content: '';

            position: absolute;

            width: rem(10);
            height: rem(16);

            background-image: url('%=static=%general/gray_arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(-50%, -50%);
        }

        &::after {
            display: none;
        }
    }

    &__title {
        position: relative;

        margin-top: 0;
        margin-bottom: rem(28);

        font-family: $avenir;
        font-size: rem(48);
        font-weight: 600;
        line-height: rem(54);
        color: #ffffff;
        text-align: center;
        letter-spacing: rem(-1.8);

        @extend .container;
        @include below($mobile) {
            margin-bottom: rem(32);

            font-size: rem(36);
            line-height: rem(44);
            text-align: left;
            letter-spacing: rem(-1.2);
        }

        &-desc {
            @include below($mobile) {
                display: none;
            }
        }

        &-mobile {
            @include above($mobile) {
                display: none;
            }
        }
    }

    &__item {
        @include below($mobile) {
            width: calc(100% - 32px);
        }
        @include below($mobile) {
            width: calc(100% - 16px);
        }
    }

    &__item-link {
        position: relative;

        display: block;

        outline: none;

        img {
            max-height: rem(352);
        }



        &_video {
            &::after {
                content: '';

                position: absolute;
                top: 50%;
                left: 50%;

                width: rem(86);
                height: rem(64);

                background-image: url('%=static=%general/youtube.svg');
                transform: translate(-50%,-50%);

                will-change: transform;
            }
        }
    }
}
