<div class="review-all">
    <div class="review-all__photos">
        <div class="review-all__photos-item">
            <div class="review-all__photos-item-wrap review-all__photos-item-wrap_item">
                <img src="%=static=%img/assets/review-all/review-all-service-1.jpg" alt="" class="review-all__photos-image">
            </div>
            <p class="review-all__photos-description">Starcraft</p>
        </div>
        <div class="review-all__photos-item">
            <div class="review-all__photos-item-wrap review-all__photos-item-wrap_person">
                <img src="%=static=%img/assets/review-all/review-all-person-1.jpg" alt="" class="review-all__photos-image">
            </div>
            <p class="review-all__photos-description">23.06.2017</p>
        </div>
    </div>
    <div class="review-all__content">
        <div class="review-all__person">
            <div class="review-all__person-wrap">
                <div class="review-all__person-photo">
                    <img src="%=static=%img/assets/review-all/review-all-person-1.jpg" alt="" class="review-all__person-image">
                </div>
                <p class="title title_size_small title_color_black review-all__person-name">Константин Константинопольский</p>
                <div class="review-all__person-info">
                    <a href="javascrip:;" class="review-all__social-link">
                        {{Icon iconName='vkontakte' className='review-all__social-icon' iconWidth='22' iconHeight='22'}}
                    </a>
                    <div class="stars js-rating"></div>
                </div>
            </div>
            <div class="review-all__person-gallery review-all__person-gallery_mobile review-all__gallery">
                <div class="stars js-rating"></div>
                <div class="review-all__gallery-item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="review-all__gallery-link review-all__gallery-video">
                    </a>
                </div>
                <div class="review-all__gallery-item">
                    <a data-fancybox="images" href="%=static=%img/content/yacht-gallery-1.jpg" class="review-all__gallery-link review-all__gallery-photos">
                    </a>
                    <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-2.jpg" href="%=static=%img/content/yacht-gallery-2.jpg" class="review-all__gallery-thumb"></a>
                    <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-3.jpg" href="%=static=%img/content/yacht-gallery-3.jpg" class="review-all__gallery-thumb"></a>
                </div>
            </div>
            <div class="review-all__person-gallery review-all__gallery">
                <p class="review-all__gallery-description">Прикреплено:</p>
                <div class="review-all__gallery-item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="review-all__gallery-link review-all__gallery-video">
                    </a>
                </div>
                <div class="review-all__gallery-item">
                    <a data-fancybox="images" href="%=static=%img/content/yacht-gallery-1.jpg" class="review-all__gallery-link review-all__gallery-photos">
                    </a>
                    <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-2.jpg" href="%=static=%img/content/yacht-gallery-2.jpg" class="review-all__gallery-thumb"></a>
                    <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-3.jpg" href="%=static=%img/content/yacht-gallery-3.jpg" class="review-all__gallery-thumb"></a>
                </div>
            </div>
        </div>
        <p class="review-all__text">
            Мы катались примерно 5 часов - это были самые лучшие часы нашей поездки в Сочи! Мы успели позажигать плюшках, пофоткаться, покупаться, порыбачить и даже поужинать и позагарать! Мы катались примерно - это были самые лучшие часы нашей поездки в Сочи! Мы катались примерно 5 часов - это были самые лучшие часы нашей поездки в Сочи! Мы успели позажигать на плюшках, пофоткаться, покупаться, порыбачить и даже поужинать и позагарать! Мы катались примерно 5 часов - это были самые лучшие часы нашей поездки в Сочи!  успели позажигать на плюшках, пофоткаться, покупаться, порыбачить и даже поужинать и позагарать! Мы катались примерно 5 часов - это были самые лучшие часы нашей поездки в Сочи! Мы успели позажигать на плюшках, пофоткаться, покупаться, порыбачить и даже поужинать и позагарать! Мы катались примерно  это были самые лучшие часы нашей поездки в Сочи!
        </p>
        <div class="review-all__bottom">
            <p class="review-all__date review-all__date_mobile">23.06.17</p>
            <button class="link link_color_rich-blue review-all__button-more js-open-text">Читать отзыв полностью</button>
        </div>
        <div class="review-all__review">
            <p class="review-all__review-text">Клиент оставил видео-отзыв</p>
            <a href="javascript:;" class="link link_color_rich-blue review-all__review-button">смотреть</a>
        </div>
    </div>
    <div class="review-all__gallery">
        <div class="review-all__gallery-item">
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="review-all__gallery-link review-all__gallery-video">
                <img src="%=static=%img/assets/review-all/review-all-gallery-video.jpg" class="review-all__gallery-image" alt="">
            </a>
            <p class="review-all__gallery-description">Видео</p>
        </div>
        <div class="review-all__gallery-item">
            <a data-fancybox="images" href="%=static=%img/content/yacht-gallery-1.jpg" class="review-all__gallery-link review-all__gallery-photos">
                <img src="%=static=%img/assets/review-all/review-all-gallery-photos.jpg" class="review-all__gallery-image" alt="">
            </a>
            <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-2.jpg" href="%=static=%img/content/yacht-gallery-2.jpg" class="review-all__gallery-thumb"></a>
            <a data-fancybox="images" data-thumb="%=static=%img/content/yacht-gallery-3.jpg" href="%=static=%img/content/yacht-gallery-3.jpg" class="review-all__gallery-thumb"></a>
            <p class="review-all__gallery-description">Фотографии</p>
        </div>
    </div>
</div>
