<div class="copyright">
    <div class="container">
        <div class="copyright__content">
            <div class="copyright__content-left">
                <div class="copyright__item copyright__goodboat">
                    {{Icon iconName='logo-footer' className='copyright__icon'  iconWidth='129' iconHeight='19'}}
                    <span class="copyright__text"> — 12 лет к вашим услугам!</span>
                </div>
                <div class="copyright__item copyright__social-block">
                    <a href="https://vk.com/goodboat" target="_blank" class="copyright__social">{{Icon iconName='vkontakte' className='copyright__social-icon' iconWidth='22' iconHeight='22'}}</a>
                    <a href="https://www.instagram.com/katera.sochi/" target="_blank" class="copyright__social">{{Icon iconName='instagram' className='copyright__social-icon' iconWidth='22' iconHeight='22'}}</a>
                    <span class="copyright__text"> — Присоединяйся к нам</span>
                </div>
                <div class="copyright__item copyright__develop copyright__develop_adaptive">
                    <a href="http://trend-p.ru/" target="_blank" class="copyright__logo">
                        {{Icon iconName='trend-pro-logo-mini' className='copyright__icon'  iconWidth='29' iconHeight='30'}}
                        <span class="copyright__text"> — Сайт создан TREND PRO</span>
                    </a>
                </div>
            </div>
            <div class="copyright__call-block">
                <div class=" copyright__item copyright__call-number">
                    <span class="copyright__text copyright__call-text">Круглосуточно и бесплатно звонок по России:</span>
                    <a href="tek:88005500746" class="copyright__phone">8 800 550-07-46</a>
                    <p class="copyright__text copyright__description">Круглосуточно, бесплатно</p>
                </div>
                <div class="copyright__item copyright__order-call">
                    <button data-fancybox data-src="#requestForm" class="copyright__link">Заказать обратный звонок</button>
                </div>
            </div>
            <div class="copyright__develop">
                <div class="row">
                    <div class="copyright__trend-pro-logo">
                        <a href="http://trend-p.ru/" target="_blank" class="copyright__logo">
                            {{Icon iconName='trend-pro-logo' className='copyright__logo'  iconWidth='137' iconHeight='30'}}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="copyright__trend-pro-text">
                        <span class="copyright__text">Разработка и продвижение сайта</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
