.copyright {
    position: relative;

    padding-top: rem(20);
    padding-bottom: rem(25);

    background-color: $white;

    &::before {
        content: '';

        position: absolute;
        bottom: 100%;
        left: 0;

        width: 100%;
        height: rem(227);

        background-image: url('%=static=%general/ships.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 1920px auto;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include below($tablet-small) {
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }

    &__content-left {
        display: flex;
        align-items: center;

        @include below($tablet-small) {
            margin-bottom: rem(33);
        }
        @include below($mobile) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-bottom: rem(38);
        }

        .logo {
            position: relative;

            margin-right: rem(37);

            @include below($mobile) {
                margin-right: 0;
                margin-bottom: rem(32);

                .logo__text {
                    display: block;
                }
            }

            &::after {
                content: '';

                position: absolute;
                top: 0;
                right: rem(-23);

                width: rem(1);
                height: 100%;

                background-color: #93a2a7;

                @include below($mobile) {
                    top: auto;
                    right: auto;
                    bottom: rem(-16);
                    left: 0;

                    width: 100%;
                    height: rem(1);
                }
            }
        }

        .copyright__text {
            font-family: $lato;
            font-size: rem(12);
            font-weight: 400;
            line-height: rem(18);
            color: #93a2a7;
        }
    }

    &__text {
        font-family: $lato;
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(18);
        color: #93a2a7;

        @include below($mobile) {
            font-size: rem(16);
            line-height: rem(24);
            letter-spacing: rem(-.2);
        }
    }

    &__social {
        text-decoration: none;

        fill: rgba(6, 158, 219, 1);

        &:not(:first-of-type) {
            margin-left: rem(8);
        }

        &:last-of-type {
            margin-right: rem(5);
        }
    }

    &__call-block {
        display: flex;
        flex-direction: column;

        @include below($tablet-small) {
            margin-bottom: rem(26);
        }
        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(39);
        }
    }

    &__wrap {
        display: flex;
        align-items: center;

        @include below($mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__callback {
        position: relative;

        display: flex;
        margin-left: rem(10);

        font-family: $avenir;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(18);
        color: #008cd2;
        text-decoration: none;
        letter-spacing: -.5px;

        @include above($tablet-small) {
            top: rem(-3);
        }
        @include below($mobile) {
            margin-left: 0;
        }

        &:hover {
            bottom: rem(-4);
        }

        &::after {
            content: '';

            position: absolute;
            bottom: rem(-2);
            left: 0;

            width: 100%;
            height: rem(1);

            border-bottom: rem(1) dashed #008cd2;

            transition: bottom .3s;
        }
    }

    &__call-text {
        @include below($tablet-small) {
            padding-right: rem(10);
            margin-bottom: rem(6);
        }
        @include below($mobile) {
            margin-bottom: rem(8);
        }
    }

    &__phone {
        font-family: $lato;
        font-size: rem(20);
        font-weight: 800;
        line-height: rem(18);
        color: #93a2a7;
        text-decoration: none;

        @include below($mobile) {
            font-size: rem(32);
            line-height: normal;
        }
    }

    .socials {
        flex-direction: column;
        align-items: flex-start;

        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(40);

            .socials__text {
                display: inline;

                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: rem(-.2);
            }
        }

        .socials__text {
            margin: 0;
            margin-bottom: rem(2);

            font-family: $lato;
            font-size: rem(12);
            font-weight: 400;
            line-height: rem(18);
            color: #93a2a7;

            @include below($mobile) {
                margin-bottom: rem(8);

                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: rem(-.2);
            }
        }

        .socials__item {
            &:not(:last-of-type) {
                @include below($tablet-small) {
                    margin-right: rem(8);
                }
                @include below($mobile) {
                    margin-right: rem(14);
                }
                @include below($mobile-small) {
                    margin-right: rem(8);
                }
            }
        }

        .socials__icon {
            @include below($tablet-small) {
                width: rem(32);
                height: rem(32);
            }
            @include below($mobile) {
                width: rem(50);
                height: rem(50);
            }
        }
    }

    &__trend-pro-text {
        display: flex;
        flex-direction: column;
    }

    &__trend-pro {
        font-family: $lato;
        font-size: rem(20);
        font-weight: 800;
        line-height: rem(18);
        line-height: normal;
        color: #93a2a7;
        text-decoration: none;
        text-transform: uppercase;

        cursor: pointer;

        transition: color .3s;

        @include below($mobile) {
            font-size: rem(32);
        }

        &:hover {
            color: #71c8e9;
        }
    }

    &__develop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include below($tablet-small) {
            margin-right: rem(80);
        }
        @include below($mobile) {
            width: 100%;
            margin-right: 0;
        }

        &_adaptive {
            display: none;

            @include below($phablet) {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &__link {
        padding: 0;

        font-size: rem(12);
        color: $rich-blue;
        text-align: left;
        text-decoration: underline;

        border: none;
        background: none;

        text-decoration-style: dashed;
    }

    &__order-call {
        display: flex;
        justify-content: flex-end;
    }

    &__trend-pro-logo {
        display: flex;
        justify-content: center;
        margin-bottom: rem(20);
    }

    &__trend-pro-text {
        display: flex;
        justify-content: center;
    }
}
