<div class="copyright">
    <div class="container">
        <div class="copyright__content">
            <div class="copyright__content-left">
                {{> logo/logo}}
                <span class="copyright__text"> 12 лет к вашим услугам!</span>
            </div>
            <div class="copyright__call-block">
                <span class="copyright__text copyright__call-text">Круглосуточно и бесплатно звонок по России:</span>
                <a href="tek:88005500746" class="copyright__phone">8 800 550-07-46</a>
            </div>
            {{> socials/socials}}
            <div class="copyright__develop">
                <div class="copyright__trend-pro-text">
                    <span class="copyright__text">Разработка и продвижение сайта</span>
                    <a href="http://trend-p.ru/" target="_blank" class="copyright__trend-pro">TREND PRO</a>
                </div>
            </div>
        </div>
    </div>
</div>
