<div class="entertainment {{className}}">
    <div class="entertainment__content">
        <a href="javascript:void(0);" class="entertainment__item">
            <img class="entertainment__image" src="%=static=%img/assets/entertainment/entertainment_1.jpg" alt="">
            <p class="entertainment__name">Аренда яхт</p>
        </a>
        <a href="javascript:void(0);" class="entertainment__item">
            <img class="entertainment__image" src="%=static=%img/assets/entertainment/entertainment_2.jpg" alt="">
            <p class="entertainment__name">Морские прогулки</p>
        </a>
        <a href="javascript:void(0);" class="entertainment__item">
            <img class="entertainment__image" src="%=static=%img/assets/entertainment/entertainment_3.jpg" alt="">
            <p class="entertainment__name">Морская рыбалка</p>
        </a>
    </div>
</div>
