<div class="entertainment {{className}}">
    <div class="container">
        <h2 class="title title_size_big entertainment__title">Сопутсвующие развлечения:</h2>
    </div>
    <div class="entertainment__slider custom-scroll custom-scroll_horizontal js-horizontal-slider">
        <div class="entertainment__list">
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-1.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Купание</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-2.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Виндсерфинг</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-3.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Романтическое свидание</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-4.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Бананы и плюшки</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-5.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Свадьба на борту</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-6.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Водные скутеры</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-1.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Купание</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-2.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Виндсерфинг</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-3.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Романтическое свидание</p>
            </a>
            <a href="javascript:void(0);" class="entertainment__item">
                <div class="entertainment__wrap">
                    <img src="%=static=%img/assets/entertainment/entertainment-4.jpg" alt="" class="entertainment__image grayscale grayscale-fade">
                </div>
                <p class="entertainment__name">Бананы и плюшки</p>
            </a>
        </div>
    </div>
</div>
