.entertainment {
    @extend .container;

    &__content {
        display: flex;
        width: calc(100% + 20px);
        margin-right: rem(-10);
        margin-left: rem(-10);

        @include below($tablet-small) {
            width: calc(100% + 16px);
            margin-right: rem(-8);
            margin-left: rem(-8);
        }

        @include below($mobile) {
            flex-direction: column;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: calc(33.3% - 20px);
        margin: 0 rem(10);
        overflow: hidden;

        text-decoration: none;

        border-radius: rem(12);
        background-color: #ffffff;
        box-shadow: 0 0 rem(2) rgba(0, 0, 0, .16), inset 0 rem(-1) 0 rgba(0, 0, 0, .12), 0 0 8px rgba(0, 140, 210, 0);

        transition: box-shadow .3s;

        @include below($tablet-small) {
            width: calc(33.3% - 16px);
            margin: 0 rem(8);
        }

        @include below($mobile) {
            width: 100%;
            margin: 0;

            &:not(:last-of-type) {
                margin-bottom: rem(32);
            }
        }


        &:hover {
            box-shadow: 0 rem(16) rem(16) rgba(0, 140, 210, .16), inset 0 rem(-1) 0 rgba(0, 0, 0, 0), 0 0 8px rgba(0, 140, 210, .08);

            .entertainment__name {
                color: #069edb;
            }
        }
    }

    &__image {
        width: 100%;
        height: rem(256);

        @include below($tablet-small) {
            height: rem(176);
        }

        object-fit: cover;
    }

    &__name {
        width: 100%;
        padding-top: rem(24);
        padding-bottom: rem(31);
        margin: 0;

        font-family: $avenir;
        font-size: rem(32);
        font-weight: 600;
        line-height: rem(40);
        color: #5b6f76;
        text-align: center;
        letter-spacing: rem(-.5);

        transition: color .3s;

        @include below($tablet-small) {
            padding-top: rem(16);
            padding-bottom: rem(23);

            font-size: rem(20);
            line-height: rem(24);
            letter-spacing: rem(-.3);
        }
    }
}
