.services {
    position: relative;

    padding-top: rem(150);
    padding-bottom: rem(338);
    margin-top: rem(32);

    background-image: url('%=static=%assets/services/services-bkg.jpg');
    background-repeat: no-repeat;
    background-position: center top;

    @include below($tablet-small) {
        height: rem(640);
        padding-top: rem(138);
        padding-bottom: 0;
        margin-top: rem(64);
    }
    @include below($tablet-small) {
        overflow: hidden;

        background-color: rgb(12, 145, 214);
        background-image: url('%=static=%assets/services/services-bkg_tablet.jpg');
        background-size: auto 100%;
    }
    @include below($mobile) {
        height: rem(820);
        padding-top: rem(84);
        padding-bottom: 0;
        margin-top: rem(80);

        background-color: #0c91d6;
        background-image: url('%=static=%assets/services/services-bkg_mobile.jpg');
        background-position: left;
        background-size: auto 100%;
    }

    &__content {
        @include below($tablet) {
            position: relative;
            z-index: 1;
        }
    }

    &__caption {
        h2 {
            position: relative;

            margin-top: 0;
            margin-bottom: rem(12);

            font-family: $avenir;
            font-size: rem(48);
            font-weight: 600;
            line-height: rem(54);
            color: $white;
            text-align: left;
            letter-spacing: rem(-1.8);

            @include below($mobile) {
                margin-bottom: rem(16);

                font-size: rem(36);
                line-height: rem(44);
                letter-spacing: rem(-1.2);
            }
        }

        p {
            width: rem(518);
            margin: 0;
            margin-bottom: rem(72);

            font-family: $lato;
            font-size: rem(14);
            font-weight: 400;
            color: $white;
            text-align: left;

            @include below($mobile) {
                width: 100%;
                margin-bottom: rem(42);

                font-size: rem(16);
                line-height: rem(24);
                letter-spacing: rem(-.2);
            }
        }
    }

    &__icon {
        margin-bottom: rem(8);
        margin-left: rem(8);

        opacity: .6;

        fill: #ffffff;

        &_color {
            &_blue {
                fill: $rich-blue;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;

        @include below($tablet) {
            position: relative;

            &::before {
                content: '';

                position: absolute;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 25%;
        height: auto;
        margin-bottom: rem(86);

        @include below($tablet-small) {
            display: none;
            width: auto;

            &:nth-of-type(4) {
                display: flex;
                order: 1;
            }

            &:nth-of-type(1) {
                display: flex;
                order: 2;
            }

            &:nth-of-type(9) {
                display: flex;
                order: 3;
            }

            &:nth-of-type(8) {
                display: flex;
                order: 4;
            }
        }
        @include below($mobile) {
            width: 50%;
        }
    }

    &__name {
        margin: 0;
        margin-bottom: rem(10);

        font-family: $avenir;
        font-size: rem(24);
        font-weight: 600;
        line-height: rem(30);
        color: #ffffff;
        letter-spacing: rem(-.8);
    }
}
