<div class="services">
    <div class="container">
        <div class="services__content">
            <div class="services__caption">
                <h2>На яхте Вас ждет</h2>
                <p>Для вашего удобства, во время проката большую часть услуг<br>мы уже включили в стоимость! Вам остается только приехать и начать отдых на яхте!</p>
            </div>
            <div class="services__list">
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='swimming' className='services__icon'  iconWidth='46' iconHeight='30'}}
                    </div>
                    <p class="services__name">Купание</p>
                    <p class="text text_color_blue services__description">
                        Купание прямо с яхты позволит насладится чистотой морской воды
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='bar' className='services__icon'  iconWidth='35' iconHeight='50'}}
                    </div>
                    <p class="services__name">Бар</p>
                    <p class="text text_color_blue services__description">
                        Легкая закуска и выпивка для вас
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='vake' className='services__icon'  iconWidth='60' iconHeight='50'}}
                    </div>
                    <p class="services__name">Катание на вейкборде</p>
                    <p class="text text_color_blue services__description">
                        Вейкборд, вы и незабываемые морские виды. Что может быть лучше?
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='date' className='services__icon'  iconWidth='45' iconHeight='60'}}
                    </div>
                    <p class="services__name">Романтическое свидание</p>
                    <p class="text text_color_blue services__description">
                        Свидание на яхте создадут гармонию в ваших чувствах
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='fishing' className='services__icon'  iconWidth='57' iconHeight='50'}}
                    </div>
                    <p class="services__name">Морская рыбалка</p>
                    <p class="text text_color_blue services__description">
                        Ни одна рыба не ускользнет от вас если вы будите рыбачить с борта наших яхт
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='banana' className='services__icon'  iconWidth='52' iconHeight='37'}}
                    </div>
                    <p class="services__name">Катание на банане</p>
                    <p class="text text_color_blue services__description">
                        Великолепное развлечение для компании
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='gopro' className='services__icon'  iconWidth='41' iconHeight='50'}}
                    </div>
                    <p class="services__name">Камера GoPro</p>
                    <p class="text text_color_blue services__description">
                        Запечатлите каждый момент вашего отдыха!
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='holiday' className='services__icon'  iconWidth='35' iconHeight='50'}}
                    </div>
                    <p class="services__name">Праздник</p>
                    <p class="text text_color_blue services__description">
                        Любой праздник, корпоратив, вечеринка в море оставит незабываемые воспоминания.
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='landscape' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    </div>
                    <p class="services__name">Панорама города</p>
                    <p class="text text_color_blue services__description">
                        Великолепный вид на город и горы с моря
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='breeze' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    </div>
                    <p class="services__name">Морской воздух</p>
                    <p class="text text_color_blue services__description">
                        Прибрежный морской воздух освежит вас
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='sunbathe' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    </div>
                    <p class="services__name">Солнечные ванны</p>
                    <p class="text text_color_blue services__description">
                        Солнечные ванны и капли морской воды на вашей коже подарят шикарный загар
                    </p>
                </div>
                <div class="services__item">
                    <div class="services__icon-wrap">
                        {{Icon iconName='dolphins' className='services__icon'  iconWidth='60' iconHeight='43'}}
                    </div>
                    <p class="services__name">Дельфины</p>
                    <p class="text text_color_blue services__description">
                        Удивительные прогулки с дельфинами
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
