<div class="services">
    <div class="container">
        <div class="services__content">
            <div class="services__caption">
                <h2>На яхте вас ждет</h2>
                <p>Для вашего удобства, во&nbsp;время проката большую часть услуг мы&nbsp;уже включили в&nbsp;стоимость. Вам остается только приехать и&nbsp;начать отдых на&nbsp;яхте!</p>
            </div>
            <div class="services__list">
                <div class="services__item">
                    {{Icon iconName='swimming' className='services__icon'  iconWidth='46' iconHeight='30'}}
                    <p class="services__name">Купание</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='fishing' className='services__icon'  iconWidth='57' iconHeight='50'}}
                    <p class="services__name">Рыбалка</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='vake' className='services__icon'  iconWidth='60' iconHeight='50'}}
                    <p class="services__name">Вейкборд</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='dolphins' className='services__icon'  iconWidth='60' iconHeight='43'}}
                    <p class="services__name">Дельфины</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='holiday' className='services__icon'  iconWidth='35' iconHeight='50'}}
                    <p class="services__name">Праздник</p>
                </div>

                <div class="services__item">
                    {{Icon iconName='bar' className='services__icon'  iconWidth='35' iconHeight='50'}}
                    <p class="services__name">Коктейли</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='date' className='services__icon'  iconWidth='45' iconHeight='60'}}
                    <p class="services__name">Свидание</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='camera' className='services__icon'  iconWidth='61' iconHeight='48'}}
                    <p class="services__name">Экскурсии</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='landscape' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    <p class="services__name">Панорама <br> города</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='breeze' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    <p class="services__name">Морской <br> воздух</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='sunbathe' className='services__icon'  iconWidth='50' iconHeight='50'}}
                    <p class="services__name">Солнечные <br> ванны</p>
                </div>
                <div class="services__item">
                    {{Icon iconName='banana' className='services__icon'  iconWidth='52' iconHeight='37'}}
                    <p class="services__name">Катание <br> на банане</p>
                </div>






            </div>
        </div>
    </div>
</div>
