<div class="socials">
    <span class="socials__text {{textModifier}}">Присоединяйтесь к нам</span>
    <div class="socials__wrap">
        <a href="" class="socials__item red-hoverable">
            <div class="socials__icon socials__icon_insta"></div>
        </a>
        <a href="" class="socials__item red-hoverable">
            <div class="socials__icon socials__icon_vk"></div>
        </a>
        <a href="" class="socials__item red-hoverable">
            <div class="socials__icon socials__icon_youtube"></div>
        </a>
    </div>
</div>
