<div class="socials">
    <span class="socials__text {{textModifier}}">Присоединяйтесь к нам:</span>
    <a href="https://vk.com/goodboat" target="_blank" class="socials__link">
        {{Icon iconName='vkontakte' className='socials__icon' iconWidth='22' iconHeight='22'}}
        {{Icon iconName='vkontakte' className='socials__icon socials__icon_mobile' iconWidth='33' iconHeight='33'}}
    </a>
    <a href="https://www.instagram.com/katera.sochi/" target="_blank" class="socials__link">
        {{Icon iconName='instagram' className='socials__icon ' iconWidth='22' iconHeight='22'}}
        {{Icon iconName='instagram' className='socials__icon socials__icon_mobile' iconWidth='33' iconHeight='33'}}
    </a>
    <span class="socials__text socials__text_mobile"> – Присоединяйтесь!</span>
</div>
