<article class="boat catalog__list-card">
    <div class="boat__content">
        <a href="javascript:void(0);"  class="boat__thumbs">
            <img src="%=static=%img/assets/boat/boat-1.jpg" class="boat__image" alt="Infinity Q60">
            <div class="boat__thumbs-navs">
                    <div class="boat__thumbs-item" data-image="https://flo365.ru/user_files/large/1308_2.jpg"></div>
                    <div class="boat__thumbs-item" data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fyT8FXzgNhMT1jXlhMVVWzq8eoQZpQGHQC_aFLE3xyfL6_Ut"></div>
                    <div class="boat__thumbs-item" data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA"></div>
            </div>
        </a>
        <a href="javascript:void(0);" class="boat__info">
            <div class="boat__main-info">
                <p class="boat__name">
                    Красотка
                </p>
                <div class="stars-rate">
                    <div class="stars" data-rateyo-rating="4" readonly="readonly" style="width: 80px;"></div>
                </div>
            </div>
            <div class="boat__features">
                <p class="boat__feature">Мест 11</p>
                <p class="boat__feature">Длина 9,47 м</p>
                <p class="boat__feature">Скорость 32 узла</p>
            </div>
            <div class="boat__prices">
                <dl class="boat__price">
                    <dt>Аренда судна за час</dt>
                    <dd>6000 <span>₽</span></dd>
                </dl>
                <dl class="boat__price">
                    <dt>Групповая прогулка</dt>
                    <dd>900 <span>₽</span></dd>
                </dl>
            </div>
        </a>
        <div class="boat__buttons">
            <a class="boat__book" data-fancybox data-src="#bookForm" href="#">Бронировать</a>
            <a class="boat__detailed" href="#">Подробнее</a>
        </div>
    </div>
</article>
