<div class="not-found">
    <div class="container">
        <div class="not-found__content">
            <div class="not-found__content-left">
                <h2>Страница не найдена :(</h2>
            </div>
            <div class="not-found__content-right">
                <div class="not-found__subtitle">
                    <p>Извините, такой страницы не существует, либо она удалена!</p>
                    <p>Вы можете:</p>
                </div>
                <a href="juvascript:void(0);" class=" link link_color_deep-sky-blue not-found__link">
                    {{Icon iconName='comeback' className='comeback__icon' iconWidth='25' iconHeight='25'}}
                    <p class="not-found__link-text">вернуться назад</p>
                </a>
                <a href="main.html" class=" link link_color_deep-sky-blue not-found__link">
                    {{Icon iconName='gohome' className='gohome__icon' iconWidth='27' iconHeight='25'}}
                    <p class="not-found__link-text">перейти на главную</p>
                </a>
            </div>
        </div>
    </div>
</div>
