<div class="reviews-other">
    <div class="container">
        <div class="reviews-other__caption">
            <h3 class="title title_size_medium reviews-other__title">
                Отзывы клиентов:
            </h3>
            <button data-fancybox="" data-src="#popupReview" class="link link_color_rich-blue link_border link_border_dashed reviews-other__button reviews-other__button_top">Оставить отзыв</button>
        </div>
        <div class="reviews-other__content">
            {{> review-all/review-all}}
        </div>
        <div class="reviews-other__footer">
            <div class="reviews-other__footer-item">
                <button class="link link_color_rich-blue link_border link_border_dashed reviews-other__button">Смотреть ещё 5 отзывов</button>
                <button data-fancybox="" data-src="#popupReview" class="link link_color_rich-blue link_border link_border_dashed reviews-other__button">Оставить отзыв</button>
            </div>
            <div class="reviews-other__footer-item">
                <a href="#header" class="link link_color_rich-blue link_border link_border_solid reviews-other__button reviews-other__button_arrow">Вернутсья наверх</a>
            </div>
        </div>
    </div>
</div>
