<div class="yacht-detiled">
    <div class="yacht-detiled__gallery">
        <div class="yacht-detiled__main">
            <div class="yacht-detiled__main-image">
                <img class="photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                <img class="photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
                <img class="photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                <img class="photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
                <img class="photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                <img class="photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
                <img class="photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
                <img class="photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
                <iframe class="video all" width="616" height="432" src="https://www.youtube.com/embed/ZzBDdgLxTxE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="yacht-detiled__gallery-filtering">
                <label>
                    <input type="radio" data-value=".all" name="filter" value="all">
                    <span>Все материалы</span>
                </label>
                <label>
                    <input type="radio" data-value=".photo" name="filter" value="photo">
                    <span>Фото</span>
                </label>
                <label>
                    <input type="radio" data-value=".video" name="filter" value="video">
                    <span>Видео</span>
                </label>
            </div>
        </div>
        <div class="yacht-detiled__slider">
            <img class="yacht-detiled__slider-image photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
            <img class="yacht-detiled__slider-image photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
            <img class="yacht-detiled__slider-image photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
            <img class="yacht-detiled__slider-image photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
            <img class="yacht-detiled__slider-image photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
            <img class="yacht-detiled__slider-image photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
            <img class="yacht-detiled__slider-image photo all" src="%=static=%img/assets/gallery/gallery-1.jpg" alt="">
            <img class="yacht-detiled__slider-image photo all" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsj6arLkqyY4ejN3L7F2ICa-QRLMcf4jSBdpRJ2py5TvpVxCsvUA" alt="">
            <img class="yacht-detiled__slider-image video all" src="%=static=%img/general/yacht_video.jpg" alt="">
        </div>
    </div>

    <div class="yacht-detiled__info">
        <p class="yacht-detiled__info-overtitle">Моторный катер</p>
        <p class="yacht-detiled__info-name">Красотка</p>
        <div class="stars"></div>
        <div class="yacht-detiled__info-prices">
            <dl>
                <dt>Групповая прогулка</dt>
                <dd>800 <span>₽</span></dd>
            </dl>
            <dl>
                <dt>Аренда судна за час</dt>
                <dd>5 000 <span>₽</span></dd>
            </dl>
        </div>
        <div class="yacht-detiled__info-buttons">
            <a href="javascript:void(0);" data-fancybox="" data-src="#bookForm" class="yacht-detiled__info-book">Забронировать</a>
            <a href="javascript:void(0);" class="yacht-detiled__info-discount">Хочу скидку!</a>
        </div>
    </div>
    <div class="yacht-detiled__desc">
        <p class="yacht-detiled__desc-title">SeaRay 315 — «Красотка»</p>
        <p class="yacht-detiled__desc-text">Круизный катер «Красотка» является на сегодняшний день самым оптимальным вариантом по красоте дизайна, скорости и новизны! </p>
        <p class="yacht-detiled__desc-text">На нём прекрасно проводить праздники, купаться, загорать, романтический вечер, рыбалку, активный отдых. На борту яхты имеется полотенце, туалет, душ, и даже крема для и от загара. </p>
        <p class="yacht-detiled__desc-text">Данную яхту вы можете забронировать и оплатить через сайт, либо связаться с нашим оператором контактного центра.</p>
    </div>
    <div class="yacht-detiled__specifications">
        <h2 class="yacht-detiled__specifications-title">Характеристики</h2>
        <dl>
            <dt>Вместимость</dt>
            <dd>13 человек</dd>
        </dl>
        <dl>
            <dt>Кают</dt>
            <dd>3 штуки </dd>
        </dl>
        <dl>
            <dt>Скорость</dt>
            <dd>7 узлов (~13 км/ч)</dd>
        </dl>
        <dl>
            <dt>Длина</dt>
            <dd>13,7 метров</dd>
        </dl>
        <dl>
            <dt>Ширина</dt>
            <dd>7,3 метра</dd>
        </dl>
    </div>
</div>
