.yacht-detiled {
    display: flex;
    flex-wrap: wrap;
    padding-top: rem(48);
    padding-bottom: rem(96);

    @extend .container;
    @include below($mobile) {
        flex-direction: column;
        padding-top: rem(32);
    }

    &__gallery {
        display: flex;
        margin-right: rem(40);
        margin-bottom: rem(50);
        overflow: hidden;

        @include below($tablet) {
            flex-direction: column;
            margin-right: rem(14);
        }
        @include below($mobile) {
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(30);
        }
    }

    &__main {
        position: relative;

        width: rem(616);
        height: rem(462);
        padding-bottom: rem(30);
        margin-right: rem(16);

        @include below($tablet) {
            width: rem(484);
            height: rem(382);
            padding-bottom: rem(30);
            margin-right: 0;
            margin-bottom: rem(16);
        }
        @include below($mobile) {
            width: 100%;
            height: rem(288);
            padding-bottom: rem(64);
            margin-right: 0;
            margin-bottom: 0;
        }

        .slick-list {
            height: 100%;
        }
    }

    &__main-image {
        height: 100%;

        iframe {
            width: rem(616);
            height: rem(432);

            @include below($tablet) {
                width: rem(484);
                height: rem(352);
            }
            @include below($mobile) {
                width: rem(304);
                height: rem(224);
            }
        }

        img {
            width: rem(616);
            height: rem(432);

            border-radius: rem(16);

            @include below($tablet) {
                width: rem(484);
                height: rem(352);
            }
            @include below($mobile) {
                width: rem(304);
                height: rem(224);
            }

            object-fit: cover;
        }
    }

    &__gallery-filtering {
        position: absolute;
        bottom: rem(2);
        left: rem(16);

        @include below($mobile) {
            left: 0;
        }

        label {
            cursor: pointer;

            &:hover {
                span {
                    &::after {
                        bottom: rem(-4);
                    }
                }
            }

            &:not(:last-of-type) {
                margin-right: rem(16);
            }

            input {
                display: none;

                &:checked + span {
                    color: #069edb;

                    &::after {
                        border-bottom: rem(1) dashed #069edb;
                    }
                }
            }

            span {
                position: relative;

                font-family: $lato;
                font-size: rem(12);
                font-weight: 400;
                line-height: rem(18);
                color: #93a2a7;

                transition: color .3s;

                &::after {
                    content: '';

                    position: absolute;
                    bottom: rem(-2);
                    left: 0;

                    width: 100%;
                    height: rem(1);

                    border-bottom: rem(1) dashed #93a2a7;

                    transition: all .3s;
                }
            }
        }
    }

    &__slider-image {
        width: rem(128);
        height: rem(80)!important;
        margin-bottom: rem(12);

        border: rem(1) solid transparent;
        border-radius: rem(16);

        @include below($tablet) {
            width: rem(110);
            height: rem(72)!important;
            margin-right: rem(14);
            margin-bottom: 0;
        }

        object-fit: cover;
    }

    &__slider {
        position: relative;

        display: flex;
        flex-direction: column;
        width: rem(128);
        height: rem(462);
        padding-bottom: rem(30);

        @include below($tablet) {
            width: rem(484);
            height: rem(72);
            padding-bottom: 0;
        }
        @include below($mobile) {
            display: none;
        }

        &::after {
            content: '';

            position: absolute;
            bottom: rem(30);
            left: 0;

            width: 100%;
            height: rem(48);

            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

            @include below($tablet) {
                z-index: 2;
                top: 0;
                right: rem(-1);
                left: auto;

                width: rem(48);
                height: 100%;

                background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
            }
        }

        &::before {
            content: '';

            position: absolute;
            z-index: 2;
            top: 0;
            left: rem(-1);

            display: none;
            width: rem(48);
            height: 100%;

            background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

            @include below($tablet) {
                display: block;
            }
        }

        .slick-current {
            border: rem(1) solid #f0c010;
        }

        .slick-slide,
        .yacht-detiled__slider-image {
            outline: none;
        }

        .slick-arrow {
            position: absolute;
            bottom: 0;

            width: rem(24);
            height: rem(12);

            text-indent: -9999px;

            border: none;
            outline: none;
            background-color: transparent;
            background-image: url('%=static=%general/arrow_slider.svg');
            background-repeat: no-repeat;
            background-size: contain;

            @include below($tablet) {
                display: none!important;
            }
        }

        .slick-prev {
            left: rem(37);

            transform: rotate(180deg);
        }

        .slick-next {
            right: rem(37);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: calc(100% - 800px);
        padding-top: rem(12);
        margin-bottom: rem(50);

        @include below($tablet) {
            width: calc(100% - 500px);
            padding-top: rem(14);
        }
        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(66);
        }

        &-overtitle {
            margin: 0;
            margin-bottom: rem(8);

            font-family: $avenir;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(20);
            color: #5b6f76;
            letter-spacing: rem(6);
            text-transform: uppercase;

            @include below($tablet) {
                font-size: rem(14);
                line-height: rem(18);
                letter-spacing: rem(5);
            }
            @include below($mobile) {
                font-size: rem(12);
                line-height: rem(16);
                letter-spacing: rem(5);
            }
        }

        &-name {
            margin: 0;
            margin-bottom: rem(12);

            font-family: $avenir;
            font-size: rem(64);
            font-weight: 600;
            line-height: rem(70);
            color: #5b6f76;
            letter-spacing: rem(-2.4);

            @include below($tablet) {
                margin-bottom: rem(12);

                font-size: rem(48);
                line-height: rem(54);
                letter-spacing: rem(-1.8);
            }
        }

        .stars {
            margin-bottom: rem(46);

            @include below($tablet) {
                margin-bottom: rem(36);
            }
            @include below($mobile) {
                margin-bottom: rem(36);
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include below($tablet) {
                flex-direction: column;
            }
        }

        &-book {
            width: rem(210);

            @extend .button;
            @extend .button_color_yellow;
            @include below($tablet) {
                width: 100%;
                margin-bottom: rem(34);

                font-size: rem(24);
            }
            @include below($mobile) {
                height: rem(64);
            }
        }

        &-discount {
            font-family: $lato;
            font-size: rem(24);
            font-weight: 400;
            line-height: rem(24);
            color: #004080;
            text-decoration: none;
            letter-spacing: rem(-.2);
        }

        &-prices {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(44);

            dl {
                display: flex;
                justify-content: space-between;
                margin: 0;

                &:first-of-type {
                    dt,
                    dd {
                        color: #069edb;
                    }
                }

                &:not(:last-of-type) {
                    margin-bottom: rem(12);
                }

                dt,
                dd {
                    margin: 0;

                    font-family: $lato;
                    font-size: rem(24);
                    font-weight: 400;
                    line-height: rem(34);
                    color: #93a2a7;
                    letter-spacing: rem(-.4);

                    @include below($tablet) {
                        font-size: rem(18);
                        line-height: rem(28);
                        letter-spacing: rem(-.3);
                    }
                }

                dd {
                    font-weight: 700;

                    span {
                        font-family: $rouble;
                    }
                }
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: rem(760);
        margin-right: rem(40);

        @include below($tablet) {
            width: rem(484);
            margin-right: rem(16);
        }
        @include below($mobile) {
            order: 2;
            width: 100%;
        }

        &-title {
            margin: 0;
            margin-bottom: rem(15);

            font-family: $avenir;
            font-size: rem(24);
            font-weight: 600;
            line-height: rem(30);
            color: #5b6f76;
            letter-spacing: rem(-.8);
        }

        &-text {
            margin: 0;

            font-family: $lato;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(24);
            color: #93a2a7;
            letter-spacing: rem(-.2);

            &:not(:last-of-type) {
                margin-bottom: rem(12);
            }
        }
    }

    &__specifications {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: calc(100% - 800px);

        @include below($tablet) {
            width: calc(100% - 500px);
        }
        @include below($mobile) {
            width: 100%;
            margin-bottom: rem(50);
        }

        &-title {
            margin: 0;
            margin-bottom: rem(16);

            font-family: $avenir;
            font-size: rem(24);
            font-weight: 600;
            line-height: rem(30);
            color: #5b6f76;
            letter-spacing: rem(-.8);
        }

        dl {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: rem(12);
            padding-bottom: rem(10);
            margin: 0;

            border-radius: rem(4);

            &:nth-of-type(even) {
                background-color: #f7f8f9;
            }

            dt,
            dd {
                margin: 0;

                font-family: $lato;
                font-size: rem(16);
                font-weight: 400;
                line-height: rem(24);
                color: #93a2a7;
                letter-spacing: rem(-.2);
            }

            dd {
                font-weight: 700;
            }
        }
    }

    .slick-dots {
        right: calc(100% + 32px);
        bottom: rem(2);
        left: auto;

        margin-left: 0;

        @include below($mobile) {
            right: auto;
            bottom: rem(-28);
            left: 0;

            display: flex!important;
        }

        li {
            height: rem(8);

            &:not(:last-of-type) {
                margin-right: rem(8);
            }

            button {
                width: rem(8);
                height: rem(8);

                background-color: #ebedee;
            }

            &.slick-active {
                button {
                    background-color: #069edb;
                }
            }
        }
    }
}
