<div class="advantages">
    <div class="container">
        <div class="advantages__content">
            <div class="advantages__item">
                <div class="advantages__icon-wrap">
                    {{Icon iconName='rent' className='advantages__icon'  iconWidth='86' iconHeight='29'}}
                </div>
                <p class="advantages__name">Аренда яхт и катеров</p>
                <p class="text text_color_grey advantages__description">Предоставление в аренду скоростных катеров, рыбацких лодок, яхт, катамаранов</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon-wrap">
                    {{Icon iconName='trip' className='advantages__icon'  iconWidth='44' iconHeight='50'}}
                </div>
                <p class="advantages__name">Экскурсии</p>
                <p class="text text_color_grey advantages__description">Организация и проведение эксклюзивных морских и сухопутных экскурсий</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon-wrap">
                    {{Icon iconName='fun' className='advantages__icon'  iconWidth='49' iconHeight='55'}}
                </div>
                <p class="advantages__name">Развлечения<br>на воде</p>
                <p class="text text_color_grey advantages__description">Активный отдых, брызги моря, солнце и шикарные кадры! Этого не может быть много.</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon-wrap">
                    {{Icon iconName='events' className='advantages__icon'  iconWidth='50' iconHeight='63'}}
                </div>
                <p class="advantages__name">Мероприятия</p>
                <p class="text text_color_grey advantages__description">Хотите провести праздник в незабываемой атмосфере счастья? Тогда вы пришли по адресу!</p>
            </div>
        </div>
    </div>
</div>
