<div class="video-reviews">
    <div class="container">
        <div class="grid video-reviews__grid">
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-1.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Поездка на вейкборде</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-2.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Прогулка на скоростном катере в грозу и ураган</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-3.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Нудийские загарания</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-4.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Петровы на яхте «Starcraft»</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-5.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Семья Ивановых о поездке на катере «Аврора»</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-6.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Братья Симоновы</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-7.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Семья Ивановых о поездке на катере «Аврора»</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-8.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Дайвинг у берегов Грузии</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-9.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Демидовы о прогулке на яхте</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-10.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Видеотчет о поездке на вейк-борде для леньтяев</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-11.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Бои на плюшках и поездка на банане размера XXL</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-12.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Дайвинг у берегов Африки</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-13.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Чита Петровых о рыбалке сборта «Starcraft»</p>
                </div>
            </div>
            <div class="grid-item">
                <div class="video-reviews__item">
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-reviews__link">
                        <span class="video-reviews__image-wrap">
                            <img src="%=static=%img/assets/video-reviews/video-review-14.jpg" alt="" class="video-reviews__image">
                        </span>
                    </a>
                    <p class="video-reviews__name">Прыжки с катера «Дагомыс» </p>
                </div>
            </div>
        </div>
        <div class="video-reviews__more">
            <button class="more-button">Показать еще 8 видео-отзывов</button>
        </div>
    </div>
</div>
