<nav class="navigation-mobile">
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link navigation-mobile__link_sub">г. Сочи</a>
        <span class="navigation-mobile__submenu">
            <a href="javascript:void(0);" class="menu-mobile__title menu-mobile__title_arrow js-go-back">Каталог яхт</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Популярные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Парусные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Моторные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Гидроциклы</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Премиум класс</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Скоростные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Для рыбалки</a>
        </span>
    </div>
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link navigation-mobile__link_sub">Виды отдыха</a>
        <span class="navigation-mobile__submenu">
            <a href="javascript:void(0);" class="menu-mobile__title menu-mobile__title_arrow js-go-back">Каталог яхт</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Популярные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Парусные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Моторные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Гидроциклы</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Премиум класс</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Скоростные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Для рыбалки</a>
        </span>
    </div>
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link navigation-mobile__link_sub">Каталог яхт</a>
        <span class="navigation-mobile__submenu">
            <a href="javascript:void(0);" class="menu-mobile__title menu-mobile__title_arrow js-go-back">Каталог яхт</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Популярные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Парусные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Моторные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Гидроциклы</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Премиум класс</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Скоростные</a>
            <a href="javascript:void(0);" class="navigation-mobile__link">Для рыбалки</a>
        </span>
    </div>
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link">Контакты</a>
    </div>
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link">Видео-отзывы</a>
    </div>
    <div class="navigation-mobile__item">
        <a href="javascript:void(0);" class="navigation-mobile__link">О нас</a>
    </div>
</nav>
