.contacts {
    position: relative;

    @include below($mobile) {
        padding-bottom: rem(60);
    }
    @include below($mobile) {
        display: flex;
        flex-direction: column;
    }

    .map {
        width: 100%;
        height: 100%;
    }

    &__adress {
        @extend .container;
        @include below($mobile) {
            order: 1;
            margin-top: rem(-50);
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: rem(48);
        padding-bottom: rem(100);

        @include below($mobile) {
            padding-bottom: rem(90);
        }
        @include below($tablet-small) {
            justify-content: space-between;
        }
        @include below($mobile) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        @extend .container;

        &-item {
            display: flex;
            flex-direction: column;

            &:not(:last-of-type) {
                margin-right: rem(164);

                @include below($tablet-small) {
                    margin: 0;
                }
                @include below($mobile) {
                    margin-bottom: rem(30);
                }
            }
        }

        &-name {
            margin: 0;

            font-family: $avenir;
            font-size: rem(36);
            font-weight: 600;
            line-height: rem(44);
            color: #5b6f76;
            letter-spacing: rem(-1.2);

            @include below($tablet-small) {
                font-size: rem(32);
                line-height: rem(44);
            }
        }

        &-link {
            margin: 0;

            font-family: $lato;
            font-size: rem(24);
            font-weight: 400;
            line-height: rem(34);
            color: #93a2a7;
            text-decoration: none;
            letter-spacing: rem(-.4);
        }

        &-desc {
            margin: 0;

            font-family: $lato;
            font-size: rem(12);
            font-weight: 400;
            line-height: rem(18);
            color: #93a2a7;
        }
    }

    &__map {
        width: 100%;
        height: rem(512);

        @include below($mobile) {
            height: rem(576);
        }
    }
}
