<div class="reviews">
        <div class="reviews__title">
            <h3 class="reviews__title-text">Отзывы о “Парасейлинг на двоих”:</h3>
            <a data-fancybox="" data-src="#popupReview"  href="javascript:void(0)" class="link link_color_deep-sky-blue link_hover_yale-blue link_border link_border_dashed reviews__make-review">Оставить свой отзыв</a>
        </div>
        <div class="reviews__title reviews__title_mobile">
            <h3 class="reviews__title-text">Отзывы о услуге:</h3>
            <a data-fancybox="" data-src="#popupReview"  href="javascript:void(0)" class="link link_color_deep-sky-blue link_hover_yale-blue link_border link_border_dashed reviews__make-review">Оставить отзыв</a>
        </div>
        <div class="reviews__content">
            {{>review/review}}
            {{>review/review}}
            {{>review/review}}
            {{>review/review}}
            {{>review/review}}
            {{>review/review}}
        </div>
        <div class="reviews__links">
            <div class="reviews__button">

                <button class=" link link_color_deep-sky-blue link_hover_yale-blue link_border link_border_dashed reviews__left-side-button">Смотреть еще <span>5</span> отзывов</button>


                {{Icon iconName='mini_arrow' className='mini-arrow mini-arrow_deep-sky-blue' iconWidth='7' iconHeight='4'}}
            </div>
            <div class="reviews__button">
                <a data-fancybox="" data-src="#popupReview" href="javascript:void(0)" class="link link_color_deep-sky-blue link_hover_yale-blue link_border link_border_dashed reviews__left-side-button">Оставить свой отзыв</a>
            </div>
            <div class="reviews__button">
                <a href="#header" class="link link_color_deep-sky-blue link_hover_yale-blue link_border link_border_solid reviews__right-side-button js-scroll-to">Вернуться наверх</a>
            </div>

        </div>
</div>
