<div class="yacht-card">
    <div class="yacht-card__image-wrap">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTu1kiwQLD3qkUcXezyWydm6opUCPLEMXis9ANPpSTQ2lVBau5UfwTo8Y" alt="" class="yacht-card__image">
    </div>
    <div class="yacht-card__content">
        <h3 class="yacht-card__name">Катер Красотка</h3>
        <div class="yacht-card__info">
            {{>stars/stars}}
            {{>port/port}}
        </div>
        <div class="yacht-card__price">
            <p class="yacht-card__price-name text text_color_dim-grey">Аренда судна</p>
            <div class="yacht-card__price-value "> <p class="yacht-card__text text text_color_ash-grey">от</p> <span class="text text_color_black text_weight_medium yacht-card__price-rent">8000</span> <span class="rouble rouble_mini rouble_grey">руб.</span> <p class="yacht-card__text text text_color_ash-grey">/чел</p></div>
        </div>
        <div class="yacht-card__price">
            <p class="yacht-card__price-name text text_color_dim-grey">Групповая рыб-ка</p>
            <div class="yacht-card__price-value "> <p class="yacht-card__text text text_color_ash-grey">от</p> <span class="text text_color_black text_weight_medium yacht-card__price-rent">8000</span> <span class="rouble rouble_mini rouble_grey">руб.</span> <p class="yacht-card__text text text_color_ash-grey">/чел</p></div>
        </div>
    </div>
</div>
