<div class="transport-catalog">
    <div class="container">
        {{> select-filters/select-filters select-filters.transport}}
        <div class="transport-catalog__content">
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
        </div>
        <div class="transport-catalog__more">
            <button class="more-button">Показать еще 12 вариантов</button>
        </div>
    </div>
</div>
