.popular {
    position: relative;
    z-index: 2;

    @extend .container;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__caption {
        display: flex;
        align-items: baseline;
        margin-bottom: rem(28);

        @include below($tablet-small) {
            flex-direction: column;
            margin-bottom: rem(46);
        }
        @include below($mobile) {
            margin-bottom: rem(25);
        }
    }

    &__filter {
        display: flex;

        @include below($mobile) {
            flex-wrap: wrap;
        }

        &-item {
            cursor: pointer;

            @include below($mobile) {
                margin-bottom: rem(21);
            }

            span {
                position: relative;

                font-family: $lato;
                font-size: rem(16);
                font-weight: 400;
                line-height: rem(24);
                color: #93a2a7;
                letter-spacing: rem(-.2);

                transition: color .25s;

                &::after {
                    content: '';

                    position: absolute;
                    right: 0;
                    bottom: rem(-2);
                    left: 0;

                    width: 100%;
                    margin: auto;

                    border-bottom: rem(1) dashed $ash-grey;

                    transition: border .3s, bottom .25s;
                }
            }

            input {
                display: none;

                &:checked + span {
                    color: #069edb;

                    &::after {
                        border-bottom: rem(1) dashed #069edb;
                    }
                }
            }

            &:not(:last-of-type) {
                margin-right: rem(32);

                @include below($mobile) {
                    margin-right: rem(25);
                }
            }



            &:hover {
                span {
                    color: #069edb;

                    &::after {
                        bottom: rem(-4);

                        border-bottom: rem(1) dashed #069edb;
                    }
                }
            }
        }
    }

    &__title {
        margin: 0;
        margin-right: auto;

        font-family: $avenir;
        font-size: rem(48);
        font-weight: 600;
        line-height: rem(54);
        color: #5b6f76;
        letter-spacing: rem(-1.8);

        @include below($tablet-small) {
            width: 100%;
            margin-bottom: rem(19);
        }
        @include below($mobile) {
            margin-bottom: rem(22);

            font-size: rem(36);
            line-height: rem(44);
            letter-spacing: rem(-1.2);
        }
    }

    &__catalog {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-right: rem(-10);
        margin-bottom: rem(16);
        margin-left: rem(-10);

        @include below($tablet-small) {
            width: calc(100% + 16px);
            margin-right: rem(-8);
            margin-bottom: rem(48);
            margin-left: rem(-8);
        }
        @include below($mobile) {
            flex-direction: column;
            width: 100%;
            margin-right: 0;
            margin-bottom: rem(16);
            margin-left: 0;
        }

        .boat {
            width: calc(25% - 20px);
            margin: 0 rem(10);
            margin-bottom: rem(32);

            @include below($tablet-small) {
                width: calc(33.333% - 16px);
                margin: 0 rem(8);
                margin-bottom: 0;

                &:nth-of-type(n + 4) {
                    display: none;
                }
            }
            @include below($mobile) {
                width: 100%;
                margin: 0;
                margin-bottom: rem(32);

                &:nth-of-type(n + 4) {
                    display: block;
                }
            }
        }
    }

    &__more {
        width: rem(380);
        margin: 0 auto;

        @extend .button;
        @extend .button_color_yellow;
        @include below($mobile) {
            width: 100%;
        }
    }
}
