<div class="popular {{className}}">
    <div class="popular__content">
        <div class="popular__caption">
            <h2 class="popular__title">Каталог <span>катеров и&nbsp;</span>яхт</h2>
            <div class="popular__filter">
                <label class="popular__filter-item">
                    <input type="radio" name="catalogueFilter" value="">
                    <span>Моторные катера</span>
                </label>
                <label class="popular__filter-item">
                    <input type="radio" name="catalogueFilter" value="">
                    <span>Парусные яхты</span>
                </label>
                <label class="popular__filter-item">
                    <input type="radio" name="catalogueFilter" value="">
                    <span>Яхты-люкс</span>
                </label>
                <label class="popular__filter-item">
                    <input type="radio" name="catalogueFilter" value="">
                    <span>Гидроциклы</span>
                </label>
                <label class="popular__filter-item">
                    <input type="radio" name="catalogueFilter" value="">
                    <span>Теплоходы</span>
                </label>
            </div>
        </div>
        <div class="catalog popular__catalog">
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
            {{> boat/boat}}
        </div>
        <a href="javascript:void(0);" class="popular__more">Показать ещё 40 яхт</a>
    </div>
</div>
