// File for scss-vars.
// For example: main colors, paddings and so on.

//breakpoints
$desktop: rem(1280);
$tablet: rem(1024);
$phablet: rem(768);
$mobile: rem(719);

//colors
$black: #000000;
$white: #ffffff;
$red: #FF0000;

$dim-grey: #5d6163;
$ash-grey: #aeb2b4;
$platinum-grey: #e6e6e6;
$light-grey: #f2f2f2;

$prussian-blue: #153150;
$yale-blue: #285280;
$rackley-blue: #5a84a1;
$rich-blue: #069edb;
$sky-blue: #02b7ff;
$dark-blue: #00273D;
$deep-sky-blue: #01b7ff;
$light-blue: #00B8FF;

$forest-green: #2e9b20;

$dark-golden: #c38e00;
$gold-yellow: #fbda02;
$mikado-yellow: #ffba0c;
$yellow: #ffdd00;

$msu-green: #1a3149;
$green: #2e9b20;

$maroon: #800000;
