<form class="form" action="https://jsonplaceholder.typicode.com/posts">
    <fieldset class="form__item">
        <div class="form__item-wrap">
            <div class="input-wrap form__input-wrap">
                <input type="text" name="name" placeholder="Представьтесь" class="form__input input">
            </div>
            <div class="input-wrap form__input-wrap">
                <input type="tel" name="phone" placeholder="Контактный телефон" class="form__input input form__input-phone">
            </div>
        </div>
    </fieldset>
    <fieldset class="form__item">
        <div class="form__item_textarea form__item-wrap">
            <textarea name="text" rows="8" cols="80" class="textarea form__textarea" placeholder="Введите текст вопроса"></textarea>
        </div>
    </fieldset>
    <fieldset class="form__footer">
        <div class="form__item-wrap form__item-button">
            <p>Ответы на вопросы осуществляются с 9:00 до 18:00 по Московскому времени. Благодарим за понимание!</p>
            <input type="submit" name="submit" value="Отправить" class="button form__button">
        </div>
        <p class="form__status-send">Ваш вопрос отправлен! Мы свяжемся с вами в ближайшее время.</p>
    </fieldset>
</form>
