<section class="director">
    <div class="director__content">
        <div class="director__info">
            <h3 class="director__title">Генеральный директор всегда на связи с клиентами</h3>
            <p class="director__text">Я принимаю абсолютно все жалобы и предложения для улучшения качества работы и сервиса. В течении 24 часов ваше обращение будет мною рассмотрено и вы получите ответ. </p>
            <p class="director__text">Вы можете использовать для связи привычную социальную сеть или <a href="javascript:void(0);" data-fancybox="" data-src="#requestForm">форму обратной связи</a></p>
            <div class="socials socials_color">
                <a href="" class="socials__item red-hoverable">
                    <div class="socials__icon socials__icon_insta"></div>
                </a>
                <a href="" class="socials__item red-hoverable">
                    <div class="socials__icon socials__icon_vk"></div>
                </a>
                <a href="" class="socials__item red-hoverable">
                    <div class="socials__icon socials__icon_whatsapp"></div>
                </a>
            </div>
        </div>
        <img class="director__image" src="%=static=%img/assets/director/img_director.jpg" alt="">
    </div>
</section>
