.port {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: rem(5);

        transition: fill .3s;

        fill: $ash-grey;
    }

    &__name {
        margin: 0;

        font-family: $open_sans;
        font-size: rem(12);
        color: $ash-grey;
        text-align: left;

        transition: color .3s;
    }
}
