<div class="carousel">
    <div class="carousel__item">
        <a data-fancybox="{{galleryModifier}}" data-caption="Описание 1" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
    <div class="carousel__item">
        <a data-fancybox="{{galleryModifier}}"  data-caption="Описание 2" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
    <div class="carousel__item">
        <a data-fancybox="{galleryModifier}}"  data-caption="Описание 3" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
    <div class="carousel__item">
        <a data-fancybox="{{galleryModifier}}"  data-caption="Описание 4" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
    <div class="carousel__item">
        <a data-fancybox="{{galleryModifier}}"  data-caption="Описание 5" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
    <div class="carousel__item">
        <a data-fancybox="{{galleryModifier}}"  data-caption="Описание 6" href="%=static=%img/assets/carousel/vake.jpg" class="carousel__link">
            <img src="%=static=%img/assets/carousel/vake.jpg" alt="{{altImage}}" class="carousel__image">
        </a>
    </div>
</div>
