<div class="seo">
    {{Icon iconName='seo-logo' className='seo__logo'  iconWidth='130' iconHeight='127'}}
    <div class="container">
        <div class="seo__info">
            <div class="seo__content seo__content_height_small">
                <h3 class="seo__title">Аренда яхты в Сочи</h3>
                <p class="seo__text">Морские прогулки – это то, что может сделать ваш отдых в Сочи незабываемым. Путешествие на катере или яхте будет ярким впечатлением, которое останется в вашей памяти на всю жизнь.
        Компания GoodBoat занимается организацией морских прогулок в акватории города Сочи. Прокат яхты в Сочи может быть использован для следующих целей:</p>
                <h4 class="seo__second-title">Частная экскурсия</h4>
                <p class="seo__text">С борта судна откроется отличный вид на город и его окрестности. Вы и ваши друзья/родные будете неторопливо осматривать местные красоты, непринужденно общаясь с капитаном арендуемого судна.</p>
                <h4 class="seo__second-title">Частная экскурсия</h4>
                <p class="seo__text">С борта судна откроется отличный вид на город и его окрестности. Вы и ваши друзья/родные будете неторопливо осматривать местные красоты, непринужденно общаясь с капитаном арендуемого судна.</p>
            </div>

            <button class="seo__arrow">{{Icon iconName='seo-arrow' className='seo__arrow-image'  iconWidth='32' iconHeight='16'}}</button>
        </div>
        {{> request/request}}
    </div>

</div>
