<div class="seo">
    {{Icon iconName='seo-logo' className='seo__logo'  iconWidth='130' iconHeight='127'}}
    <div class="container">
        <div class="seo__content seo__content_height_small">
            <p>
                Морские прогулки – это то, что может сделать ваш отдых в Сочи незабываемым. Путешествие на катере или яхте будет ярким впечатлением, которое останется в вашей памяти на всю жизнь. Компания GoodBoat занимается организацией морских прогулок в акватории города Сочи. Морские прогулки – это то, что может сделать ваш отдых в Сочи незабываемым. Путешествие на катере или яхте будет ярким впечатлением, которое останется в вашей памяти на всю жизнь. Компания GoodBoat занимается организацией морских прогулок в акватории города Сочи. Морские прогулки – это то, что может сделать ваш отдых в Сочи незабываемым. Путешествие на катере или яхте будет ярким впечатлением, которое останется в вашей памяти на всю жизнь. Компания GoodBoat занимается организацией морских прогулок в акватории города Сочи. Прокат яхты в Сочи может быть использован для нескольких целей, а именно:
            </p>
            <ul class="seo__list">
                <li>
                    - <span>Частная экскурсия.</span> С борта судна откроется отличный вид на город и его окрестности. Вы и ваши друзья/родные будете неторопливо осматривать местные красоты, непринужденно   общаясь с капитаном арендуемого судна;
                </li>
                <li>
                    - <span>Организация вечеринки.</span> Это может быть и свадьба, и корпоратив, и встреча выпускников, и юбилей – отдых небольшой компании в открытом море не оставит равнодушным ни   одного участника торжества. Вы можете снять яхту на сутки для проведения продолжительного мероприятия;
                </li>
                <li>
                    - <span>Рыбалка в открытом море.</span> Многие едут отдыхать в Сочи только ради этого. Само собой, самая крупная и редкая рыба водится исключительно вдали от берега, а потому поймать ее   можно только с борта катера или яхты. Наши сотрудники отвезут вас на лучшие рыболовные места для использования донного или же троллингового метода ловли;
                </li>
                <li>
                    - <span>Дайвинг.</span> Насладиться красотами чистой воды и морского дна можно лишь вдали от шумных пляжей. Мы организуем выезд со всем необходимым оборудованием, а также камерами   для подводной съемки.
                </li>
            </ul>
        </div>

        <button class=" link link_color_deep-sky-blue link_border link_border_dashed link_hover_yellow text-button js-show-text-footer">Развенуть полное описание</button>

    </div>
</div>
