<div class="choice-yacht">
    <div class="choice-yacht__content">
        <p class="choice-yacht__title">Выберите судно для этой услуги</p>
        <div class="choice-yacht__yachts custom-scroll custom-scroll_vertical">
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
            <a data-fancybox="" data-src="#fishingPopUp" href="javascript:void(0)"  class="choice-yacht__link">{{>yacht-card/yacht-card}}</a>
        </div>
    </div>
</div>
