.phone {
    display: inline-flex;
    align-items: center;

    font-family: $avenir;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(18);
    color: #5b6f76;
    text-decoration: none;
    letter-spacing: -.5px;

    @include below($tablet-small) {
        margin-right: 0;
    }

    &__icon {
        margin-right: rem(8);
    }
}
