<div class="discount {{discountModifier}}">
    <a href="javascript:void(0);" class="link link_color_deep-sky-blue  link_border link_border_dashed discount__link">{{title}}</a>
    <div class="discount__content">
        <div class="discount__item">
            <p class="text text_color_forest-green discount__text">Cкидка <span class="text text_color_forest-green text_size_biggest text_weight_medium"> 10%</span></p>
            <p class="text text_color_black discount__text">при заказе от <span class="text text_color_black text_size_biggest text_weight_medium">2</span> часов  </p>
        </div>
        <div class="discount__item">
            <p class="text text_color_forest-green discount__text">Cкидка <span class="text text_color_forest-green text_size_biggest text_weight_medium"> 20%</span></p>
            <p class="text text_color_black discount__text">при заказе от <span class="text text_color_black text_size_biggest text_weight_medium">3</span> часов  </p>
        </div>
        <div class="discount__item">
            <p class="text text_color_forest-green discount__text">Cкидка <span class="text text_color_forest-green text_size_biggest text_weight_medium"> 30%</span></p>
            <p class="text text_color_black discount__text">при заказе от <span class="text text_color_black text_size_biggest text_weight_medium">4</span> часов  </p>
        </div>
        <div class="discount__item">
            <p class="text text_color_forest-green discount__text">Cкидка <span class="text text_color_forest-green text_size_biggest text_weight_medium"> 40%</span></p>
            <p class="text text_color_black discount__text">при заказе от <span class="text text_color_black text_size_biggest text_weight_medium">5</span> часов  </p>
        </div>
        <div class="discount__item">
            <p class="text text_color_forest-green discount__text">Cкидка <span class="text text_color_forest-green text_size_biggest text_weight_medium"> 50%</span></p>
            <p class="text text_color_black discount__text">при заказе от <span class="text text_color_black text_size_biggest text_weight_medium">6</span> часов  </p>
        </div>
    </div>
</div>
