<footer role="contentinfo" class="footer {{footerModifier}}">
    <div class="footer__wave"></div>
    {{> seo/seo}}
    {{> copyright/copyright}}
    <div class="popup popup_request" id="requestForm">
        <div class="popup__body active">
            <h2 class="popup__title">Заказать звонок</h2>
            <p class="popup__subtitle">Оставьте ваши контактные данные и мы свяжемся с вами в течении <span>5 минут</span></p>
            <button class="popup__close">Закрыть</button>
            <form id="" class="popup__content popup__content-request" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap">
                    <input type="text" name="name" class="popup__input" required>
                    <p class="popup__placeholder">Ваше имя*</p>
                </div>
                <div class="popup__input-wrap popup__input-wrap_tel">
                    <input type="tel" name="phone" class="popup__input" required>
                    <p class="popup__placeholder">Ваш телефон*</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <p class="popup__desc">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
            </form>
        </div>
        <div class="popup__body popup__thankyou">
            <h2 class="popup__title">Спасибо! Ваша заявка отправлена</h2>
            <p class="popup__subtitle">Подпишитесь на наш <a href="javascript:void(0);">Instagram</a> и получите дополнительно скидку!</p>
            <button class="popup__close">Закрыть</button>
            <p class="popup__main-text">Оцените пожалуйста наш веб-сайт</p>
            <div class="survey">
                <button class="survey__yes" type="button" name="button">{{Icon iconName='youtube-up' className='survey__yes-icon' iconWidth='40' iconHeight='36'}} Понравился</button>
                <button class="survey__no" type="button" name="button">{{Icon iconName='youtube-down' className='survey__no-icon' iconWidth='40' iconHeight='36'}} Не понравился</button>
            </div>
            <a class="popup__thankyou-close" href="javascript:void(0);">Закрыть</a>
        </div>
        <div class="popup__body popup__remarks">
            <h2 class="popup__title">Ваши замечания</h2>
            <p class="popup__subtitle">Ваш отзыв поможет улучшить наш веб-сайт. Как мы можем стать лучше?</p>
            <button class="popup__close">Закрыть</button>
            <form id="" class="popup__content popup__content-remarks" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap popup__input-wrap_textarea">
                    <textarea class="popup__textarea" name="textarea" required></textarea>
                    <p class="popup__placeholder">Введите сообщение</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <a class="popup__remarks-close" href="javascript:void(0);">Закрыть</a>
            </form>
        </div>
    </div>
    <div class="popup popup_book" id="bookForm">
        <div class="popup__body active">
            <h2 class="popup__title">Забронировать</h2>
            <p class="popup__subtitle">Оставьте ваши контактные данные и мы свяжемся с вами в течении <span>5 минут</span></p>
            <button class="popup__close">Закрыть</button>
            <form id="bookingform" class="popup__content popup__content-book" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap">
                    <input type="text" name="name" class="popup__input" required>
                    <p class="popup__placeholder">Ваше имя*</p>
                </div>
                <div class="popup__input-wrap popup__input-wrap_tel">
                    <input type="tel" name="phone" class="popup__input" required>
                    <p class="popup__placeholder">Ваш телефон*</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <p class="popup__desc">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
            </form>
        </div>
        <div class="popup__body popup__thankyou">
            <h2 class="popup__title">Спасибо! Ваша заявка отправлена</h2>
            <p class="popup__subtitle">Подпишитесь на наш <a href="javascript:void(0);">Instagram</a> и получите дополнительно скидку!</p>
            <button class="popup__close">Закрыть</button>
            <p class="popup__main-text">Оцените пожалуйста наш веб-сайт</p>
            <div class="survey">
                <button class="survey__yes" type="button" name="button">{{Icon iconName='youtube-up' className='survey__yes-icon' iconWidth='40' iconHeight='36'}} Понравился</button>
                <button class="survey__no" type="button" name="button">{{Icon iconName='youtube-down' className='survey__no-icon' iconWidth='40' iconHeight='36'}} Не понравился</button>
            </div>
            <a class="popup__thankyou-close" href="javascript:void(0);">Закрыть</a>
        </div>
        <div class="popup__body popup__remarks">
            <h2 class="popup__title">Ваши замечания</h2>
            <p class="popup__subtitle">Ваш отзыв поможет улучшить наш веб-сайт. Как мы можем стать лучше?</p>
            <button class="popup__close">Закрыть</button>
            <form id="" class="popup__content popup__content-remarks" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap popup__input-wrap_textarea">
                    <textarea class="popup__textarea" name="textarea" required></textarea>
                    <p class="popup__placeholder">Введите сообщение</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <a class="popup__remarks-close" href="javascript:void(0);">Закрыть</a>
            </form>
        </div>
    </div>
    <div class="popup popup_questions" id="questionsForm">
        <div class="popup__body active">
            <h2 class="popup__title">Остались вопросы</h2>
            <p class="popup__subtitle">Оставьте ваши контактные данные и мы свяжемся с вами в течении <span>5 минут</span></p>
            <button class="popup__close">Закрыть</button>
            <form id="" class="popup__content popup__content-questions" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap">
                    <input type="text" name="name" class="popup__input" required>
                    <p class="popup__placeholder">Ваше имя*</p>
                </div>
                <div class="popup__input-wrap popup__input-wrap_tel">
                    <input type="tel" name="phone" class="popup__input" required>
                    <p class="popup__placeholder">Ваш телефон*</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <p class="popup__desc">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
            </form>
        </div>
        <div class="popup__body popup__thankyou">
            <h2 class="popup__title">Спасибо! Ваша заявка отправлена</h2>
            <p class="popup__subtitle">Подпишитесь на наш <a href="javascript:void(0);">Instagram</a> и получите дополнительно скидку!</p>
            <button class="popup__close">Закрыть</button>
            <p class="popup__main-text">Оцените пожалуйста наш веб-сайт</p>
            <div class="survey">
                <button class="survey__yes" type="button" name="button">{{Icon iconName='youtube-up' className='survey__yes-icon' iconWidth='40' iconHeight='36'}} Понравился</button>
                <button class="survey__no" type="button" name="button">{{Icon iconName='youtube-down' className='survey__no-icon' iconWidth='40' iconHeight='36'}} Не понравился</button>
            </div>
            <a class="popup__thankyou-close" href="javascript:void(0);">Закрыть</a>
        </div>
        <div class="popup__body popup__remarks">
            <h2 class="popup__title">Ваши замечания</h2>
            <p class="popup__subtitle">Ваш отзыв поможет улучшить наш веб-сайт. Как мы можем стать лучше?</p>
            <button class="popup__close">Закрыть</button>
            <form id="" class="popup__content popup__content-remarks" action="https://jsonplaceholder.typicode.com/posts">
                <div class="popup__input-wrap popup__input-wrap_textarea">
                    <textarea class="popup__textarea" name="textarea" required></textarea>
                    <p class="popup__placeholder">Введите сообщение</p>
                </div>
                <button class="popup__submit" type="submit" name="button">Отправить</button>
                <a class="popup__remarks-close" href="javascript:void(0);">Закрыть</a>
            </form>
        </div>
    </div>

</footer>
