<div class="rules">
    <div class="container">
        <p>
            Предоставляя свои персональные данные при отправки формы, вы даёте своё согласие на обработку и использование своих персональных данных согласно ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. различными способами в целях, указанных в настоящих Правилах.

        </p>
        <ul>
            <li>Мы используем Ваши персональные данные в целях:</li>
            <li>- оформления вашей заявки;</li>
            <li>- получения Вами персонализированной рекламы;</li>
            <li>- для выполнения своих обязательств перед Вами.</li>

        </ul>
        <p>
            Мы обязуемся не разглашать полученную от Вас информацию. При этом не считается нарушением обязательств разглашение информации в случае, когда обязанность такого раскрытия установлена требованиями действующего законодательства РФ.

        </p>
    </div>
</div>
