.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @extend .container;
        @include below($tablet) {
            height: rem(62);
        }
        @include below($mobile) {
            height: rem(50);
        }
    }

    &__top {
        border-bottom: rem(1) solid #cdd4d6;
        background-color: #ffffff;

        @include below($tablet) {
            border-bottom: rem(1) solid #dae1dd;
        }

        .navigation {
            @include below($tablet) {
                display: none;
            }
        }
    }

    &__callback {
        position: relative;

        font-family: $avenir;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(18);
        color: #008cd2;
        text-decoration: none;
        letter-spacing: -.5px;

        @include below($tablet-small) {
            margin-left: rem(28);

            &::after {
                content: '';

                position: absolute;
                bottom: rem(-2);
                left: 0;

                width: 100%;
                height: rem(1);

                border-bottom: rem(1) dashed #008cd2;

                transition: bottom .3s;
            }
        }
    }

    &__call {
        @include below($tablet-small) {
            display: flex;
            flex-direction: column;
        }
    }

    &__bottom {
        padding: rem(15) 0;

        color: $white;

        background-color: $white;

        @include below($mobile) {
            padding: rem(10) 0;
        }


        .whatsapp {
            margin-right: rem(44);
        }

        .phone {
            margin-right: rem(16);

            @include below($tablet-small) {
                margin-right: 0;
            }
        }


        &_transparent {
            .header__breadcrumbs {
                display: none;
            }

            .socials__text {
                color: $black;
            }
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;

        p {
            position: relative;

            margin: 0;
            margin-left: rem(32);

            font-family: $avenir;
            font-size: rem(18);
            font-weight: 600;
            line-height: rem(22);
            color: #5b6f76;
            letter-spacing: -.6px;

            &::after {
                content: '';

                position: absolute;
                top: 50%;
                left: rem(-16);

                width: rem(1);
                height: rem(32);

                background-color: #bcc5c8;
                transform: translateY(-50%    );
            }
        }
    }

    &__socials {
        margin-right: auto;

        @include below($mobile) {
            display: none;
        }
    }

    &__menu {
        display: none;

        @include below($tablet-small) {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;

            border: 0 none;
            outline: none;
            background: none;
        }
    }

    &__breadcrumbs {
        display: flex;

        @include below($tablet) {
            display: none;
        }

        &_mobile {
            display: none;
            align-items: center;
            width: 100%;
            height: rem(40);
            padding: 0 rem(10);

            background-color: $dark-blue;

            @include below($tablet) {
                display: flex;
            }
        }
    }
}
