<nav class="navigation">
    <div class="navigation__item navigation__item_sub">
        <a href="javascript:void(0);" class="navigation__link">Виды отдыха</a>
    </div>
    <div class="navigation__item navigation__item_sub">
        <a href="javascript:void(0);" class="navigation__link">Каталог яхт</a>
        <div class="navigation__sub-list custom-scroll custom-scroll_vertical js-nav-scroll">
            <a href="javascript:void(0);" class="navigation__sub-item">Моторные катера и яхты</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Парусные яхты</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Яхты люкс</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Теплоходы</a>
        </div>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">Отзывы</a>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">О нас</a>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">Контакты</a>
    </div>
</nav>
