<nav class="navigation">
    <div class="navigation__item navigation__item_active navigation__item_sub navigation__item_city">
        {{Icon iconName='city' className='navigation__icon'  iconWidth='16' iconHeight='15'}}
        <a href="javascript:void(0);" class="navigation__link">Сочи</a>
        <div class="navigation__sub-list custom-scroll custom-scroll_vertical js-nav-scroll">
            <a href="javascript:void(0);" class="navigation__sub-item navigation__sub-item_active">Сочи</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Туапсе</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Геленджик</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Новороссийск</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Анапа</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Тамань</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Севастополь</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Ялта</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Евпатория</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Владивосток</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Нью Йорк</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Лос-Анжелес</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Сан-Франциско</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Осло</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Хельсинки</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Стокгольм</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Лондон</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Париж</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Берлин</a>
        </div>
    </div>
    <div class="navigation__item navigation__item_sub">
        <a href="javascript:void(0);" class="navigation__link">Виды отдыха</a>
    </div>
    <div class="navigation__item navigation__item_sub">
        <a href="javascript:void(0);" class="navigation__link">Каталог яхт</a>
        <div class="navigation__sub-list custom-scroll custom-scroll_vertical js-nav-scroll">
            <a href="javascript:void(0);" class="navigation__sub-item">Парусные яхты</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Моторные катера и яхты</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Катера для рыбалки</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Скоростные катера</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Яхты премиум класса</a>
            <a href="javascript:void(0);" class="navigation__sub-item">Гидроциклы</a>
        </div>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">Контакты</a>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">Видео-отзывы</a>
    </div>
    <div class="navigation__item">
        <a href="javascript:void(0);" class="navigation__link">О нас</a>
    </div>
</nav>
