<div class="service-catalog">
    <div class="container">
        {{> select-filters/select-filters select-filters.service}}
        <div class="service-catalog__services">
            <div class="service-catalog__service">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='vake' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='38' iconHeight='33'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Катания на вейкборде
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">8000</span>
                                    <span class="rouble rouble_grey">руб.</span>/чел*час
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_rich-blue link_hover_deep-sky-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>
                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.vakeboard}}
                </div>
            </div>
            <div class="service-catalog__service">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='gopro' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='26' iconHeight='24'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Камера GoPro для купания
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">950</span>
                                    <span class="rouble rouble_grey">руб.</span>
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_deep-sky-blue link_hover_yale-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>

                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.gopro}}
                </div>
            </div>
            <div class="service-catalog__service ">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='dolphins' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='39' iconHeight='28'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Дельфины
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">500</span>
                                    <span class="rouble rouble_grey">руб.</span>/чел*час
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_deep-sky-blue link_hover_yale-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>

                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.dolphins}}
                </div>
            </div>
            <div class="service-catalog__service">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='diving' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='40' iconHeight='35'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Дайвинг
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">150</span>
                                    <span class="rouble rouble_grey">руб.</span>/чел*час
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_deep-sky-blue link_hover_yale-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>
                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.diving}}
                </div>
            </div>
            <div class="service-catalog__service">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='landscape' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='33' iconHeight='33'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Парковка на диком пляже
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">2300</span>
                                    <span class="rouble rouble_grey">руб.</span>/чел*час
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_deep-sky-blue link_hover_yale-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>

                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.landscape}}
                </div>
            </div>
            <div class="service-catalog__service">
                <div class="service-catalog__service-content">
                    <div class="service-catalog__service-info">
                        <div class="service-catalog__service-icon">
                            {{Icon iconName='parasaling' className='service-catalog__icon service-catalog__icon_color_blue'  iconWidth='33' iconHeight='33'}}
                        </div>
                        <div class="service-catalog__info-wrap">
                            <a href="javascript:void(0)" class="service-catalog__service-title">
                                Парасейлинг
                            </a>
                            <div class="service-catalog__info">
                                <p class="service-catalog__service-price-main">
                                    от
                                    <span class="service-catalog__service-price service-catalog__service-price_dark">2300</span>
                                    <span class="rouble rouble_grey">руб.</span>/чел*час
                                </p>
                                <div class="service-catalog__stars">
                                    {{> stars/stars}}
                                    {{> number-reviews/number-reviews}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="service-catalog__service-subtitle">
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся перекидывает на карточку. Тут вступление описания услуги, взятое с карточки услуги. При клике на кнопку подробнее посетителся
                        <a href="javascript:void(0)" class=" link link_color_deep-sky-blue link_hover_yale-blue service-catalog__service-link">Подробнее</a>
                    </p>
                </div>
                <div class="service-catalog__service-gallery">
                    {{> carousel/carousel carousel.parasaling}}
                </div>
            </div>
        </div>
    </div>
</div>
