<div class="request {{requestModifier}}">
    <h4 class="request__title">Остались вопросы?</h4>
    <p class="request__subtitle">Оставьте заявку и мы перезвоним вам <br> <span>в течении 5 минут</span></p>
    <form class="request__form" action="">
        <div class="request__input-wrap">
            <input class="request__input request__name" type="text" name="name" value="" placeholder="Ваше имя">
        </div>
        <div class="request__input-wrap">
            <input class="request__input request__tel" type="tel" name="tel" value="" placeholder="Ваш телефон ">
        </div>
        <p class="request__desc">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
        <button class="request__submit" type="submit" name="button">Отправить заявку</button>
    </form>
</div>
