<div class="slider {{className}}">
    <div class="container">
        <div class="slider__wrap">
            <div class="slider__booking">
                {{> booking/booking}}
            </div>
        </div>
    </div>
    <div class="slider__list js-slider">
        <div class="slider__item">
            <img src="%=static=%img/assets/slider/slider-photo-1.jpg" alt="" class="slider__image">
            <div class="container">
                <div class="slider__caption">
                    <h2 class="name name_color_white name_weight_light name_size_small slider__title">Аренда катеров, яхт, аквабайков</h2>
                    <h3 class="slider__action-wrap">
                        <span class="slider__action slider__action_color_blue">Праздничные</span>
                        <span class="slider__action slider__action_color_yellow">скидки 50%</span>
                        <p class="slider__descripion">Выбери свой борт!</p>
                    </h3>
                    <button class="slider__button">Выбери свой борт</button>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <img src="%=static=%img/assets/slider/slider-photo-1.jpg" alt="" class="slider__image">
            <div class="container">
                <div class="slider__caption">
                    <h2 class="name name_color_white name_weight_light name_size_small slider__title">Аренда катеров, яхт, аквабайков</h2>
                    <h3 class="slider__action-wrap">
                        <span class="slider__action slider__action_color_blue">Праздничные</span>
                        <span class="slider__action slider__action_color_yellow">скидки 50%</span>
                        <p class="slider__descripion">Выбери свой борт!</p>
                    </h3>
                    <button class="slider__button">Выбери свой борт</button>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <img src="%=static=%img/assets/slider/slider-photo-1.jpg" alt="" class="slider__image">
            <div class="container">
                <div class="slider__caption">
                    <h2 class="name name_color_white name_weight_light name_size_small slider__title">Аренда катеров, яхт, аквабайков</h2>
                    <h3 class="slider__action-wrap">
                        <span class="slider__action slider__action_color_blue">Праздничные</span>
                        <span class="slider__action slider__action_color_yellow">скидки 50%</span>
                        <p class="slider__descripion">Выбери свой борт!</p>
                    </h3>
                    <button class="slider__button">Выбери свой борт</button>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <img src="%=static=%img/assets/slider/slider-photo-1.jpg" alt="" class="slider__image">
            <div class="container">
                <div class="slider__caption">
                    <h2 class="name name_color_white name_weight_light name_size_small slider__title">Аренда катеров, яхт, аквабайков</h2>
                    <h3 class="slider__action-wrap">
                        <span class="slider__action slider__action_color_blue">Праздничные</span>
                        <span class="slider__action slider__action_color_yellow">скидки 50%</span>
                        <p class="slider__descripion">Выбери свой борт!</p>
                    </h3>
                    <button class="slider__button">Выбери свой борт</button>
                </div>
            </div>
        </div>
    </div>
</div>
