<div id="app" class="slider {{className}}">
    <div class="slider__list js-slider">
        <div class="slider__item">
            <div class="slider__item-content">
                <p class="slider__item-overtitle">Лицензировано  |  Безопасно</p>
                <h1 class="slider__item-title">Аренда яхт и катеров <span>в Сочи</span></h1>
                <p class="slider__item-desc">Морские прогулки от 400 ₽</p>
                <p class="slider__item-desc">Рыбалка на яхте 1 500 ₽</p>
                <p class="slider__item-desc slider__item-desc_small">Шампанское в подарок! </p>
                <a class="slider__item-button" data-fancybox data-src="#requestForm" href="javascript:void(0);">Забронировать</a>
            </div>
        </div>
    </div>
</div>
