.slider {
    width: 100%;
    height: rem(724);

    &__list {
        width: 100%;
        height: 100%;
    }

    &__item {
        position: relative;

        width: 100%;
        height: rem(724);

        background-image: url('%=static=%assets/slider/slider_image.jpg');
        background-position: center bottom;
        background-size: cover;

        &::before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: .65;
            background-color: #042450;
        }

        &::after {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: rem(320);

            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
        }

        &-content {
            position: relative;
            z-index: 2;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: rem(108);
            padding-bottom: rem(164);

            @extend .container;
            @include below($tablet-small) {
                padding-top: rem(76);
                padding-bottom: rem(196);
            }
            @include below($mobile) {
                padding-top: rem(48);
                padding-bottom: rem(265);
            }
        }

        &-overtitle {
            margin: 0;
            margin-bottom: rem(14);

            font-family: $avenir;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(20);
            color: #ffffff;
            letter-spacing: rem(6);
            text-transform: uppercase;

            @include below($mobile) {
                font-size: rem(12);
                line-height: rem(19);
                letter-spacing: rem(4);
            }
        }

        &-title {
            display: inline-flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: rem(26);

            font-family: $avenir;
            font-size: rem(72);
            font-weight: 600;
            line-height: rem(80);
            color: #ffffff;
            letter-spacing: rem(-3);

            @include below($mobile) {
                margin-bottom: rem(31);

                font-size: rem(48);
                line-height: rem(54);
                letter-spacing: rem(-1.8);
            }

            span {
                margin-top: rem(10);

                font-size: rem(48);
                line-height: rem(54);
                color: #f0c010;
                letter-spacing: rem(-1.8);

                @include below($mobile) {
                    font-size: rem(24);
                    line-height: rem(30);
                    letter-spacing: rem(-.8);
                }
            }
        }

        &-desc {
            margin: 0;

            font-family: $lato;
            font-size: rem(24);
            font-weight: 400;
            line-height: rem(34);
            color: #ffffff;
            letter-spacing: rem(-.4);

            @include below($mobile) {
                font-size: rem(18);
                line-height: rem(24);
                letter-spacing: rem(-.3);
            }


            &:not(:last-of-type) {
                margin-bottom: rem(12);

                @include below($mobile) {
                    margin-bottom: rem(8);
                }
            }
            &:last-of-type {
                margin-bottom: rem(48);

                @include below($mobile) {
                    margin-bottom: rem(31);
                }
            }

            &_small {
                font-size: rem(20);
                line-height: rem(34);
                letter-spacing: rem(-.33);

                @include below($mobile) {
                    font-size: rem(16);
                    line-height: rem(20);
                }
            }
        }
    }

    &__item-button {
        width: rem(300);

        @extend .button;
        @extend .button_color_yellow;
        @include below($mobile) {
            width: 100%;
        }
    }
}
