<div class="button-view">
    <div class="button-view__row active">
        <div class="button-view__line"></div>
        <div class="button-view__line"></div>
        <div class="button-view__line"></div>
    </div>
    <div class="button-view__column">
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
        <div class="button-view__column-subitem"> <span class="button-view__column-subitem-bg"></span> </div>
    </div>
</div>
